@import '../../components/buttons/buttons.scss';
@import '../../components/input/input.scss';
@import '../../components/header/header.scss';
@import '../../components/heading/heading.scss';
@import '../../components/message/message.scss';
@import '../../components/photo/photo.scss';
@import '../../components/select/select.scss';
@import '../../styles/style.scss';
@import '../../styles/text.scss';

.user {
  display: flex;
  flex-direction: column;

  &__information {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3.3em;
    padding: 3.5em;
    background: $white;
    border: 1px solid $blue_outline;
    border-radius: 4px;

    &__inputs {
      &__buttons {
        margin-top: 2.1em;
        display: flex;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
