.feed {
  display: grid;
  gap: 3rem;
  padding-top: 40px;

  &__cards,
  &__list {
    grid-template-columns: auto auto auto;
  }

  &__card {
    width: 393px;
    cursor: pointer;

    &_container {
      padding-top: 15px;
    }

    &_link {
      color: $color-txt;
      text-decoration: none;
    }
  }

  &__img {
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;

    &-audio {
      &_sound {
        background: url('../assets/img/icons/sound.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-fixed;
      }

      &_bg {
        background: $color-card-bg;
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      filter: drop-shadow(0 8px 20px $color-shadow-content);
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

    &-audio {
      // filter: blur(67px);
      filter: blur(21px);
    }
  }

  &__item {
    width: 393px;
    position: relative;
  }

  &__title {
    @include font_config(normal, 400, 1.4rem, 1.6rem);

    padding-bottom: 6px;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.4rem;
    position: relative;
    opacity: 0.6;

    &:first-child {
      padding-right: 15px;
    }

    &-date {
      &::before {
        content: '';
        position: absolute;
        top: 44%;
        left: -11px;
        background-color: $color-primary;
        width: 3px;
        height: 3px;
        display: flex;
        border-radius: 50%;
      }
    }
  }

  &__search-title {
    @include font_config(normal, 500, 1.2rem, 1.4rem);

    margin-bottom: 9px;
  }

  &__type {
    @include font_config(normal, 500, 1.4rem, 1.6rem);

    margin-bottom: 10px;

    &_time {
      font-weight: 400;
      opacity: 0.6;
    }

    &-video {
      color: $color-primary;
    }

    &-photo {
      color: $color-success;
    }

    &-audio {
      color: $color-warning;
    }
  }
}
