.header {
  width: 100%;
  background-color: $color-light;
  border-bottom: 1px solid $color-divider;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    display: block;
    padding-right: 30px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;
  }

  &__item {
    padding-right: 10px;
    display: inherit;

    &:last-child {
      padding-right: 0;
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    &_name {
      padding-right: 20px;
      padding-left: 40px;
    }

    &_arrow {
      &::after {
        content: '';
        display: inline-block;
        height: 4px;
        width: 6px;
        background-image: url('../assets/img/icons/arrow_down-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid $color-light;
    }

    &:hover {
      .nav__profile_img {
        border: 2px solid $color-primary;
      }
    }

    // &:active {
    //   & .nav__profile_img {
    //     border: 2px solid $color-primary;
    //   }
    // }
  }
}
