.header {
  width: 100%;
  background-color: $color-light;
  border-bottom: 1px solid $color-divider;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

  &__logo {
    display: block;
    margin-right: 30px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding-right: 16px;
    display: inherit;

    &:last-child {
      padding-right: 0;
    }
  }

  &__notify {
    &_new {
      padding: 0 4px;
      position: absolute;
      top: 0%;
      left: 50%;
      border: 2px solid $color-light;
      border-radius: 10px;
      background-color: $color-danger;
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: 500;
      color: $color-light;
      transform: translateY(-4%);
    }
  }

  &__tooltip {
    display: none;
    position: relative;

    &_content {
      position: absolute;
      z-index: $z-tooltip;
      top: 100%;
      right: 15px;
      width: auto;
      text-align: right;
      margin-top: 28px;
      box-shadow: 0 4px 15px $color-shadow-item;
      border-radius: 4px;
      background-color: $color-light;
      border: 1px solid $color-blue-outline;
    }

    &_item {
      padding: 12px 15px;
      color: inherit;

      &:not(:last-child) {
        border-bottom: 1px solid $color-blue-outline;
      }

      &:hover:first-child {
        background: $color-ltblue;
        border-radius: 4px 4px 0 0;
      }

      &:hover:last-child {
        background: $color-ltblue;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &_name {
      padding-right: 20px;
    }

    &_arrow {
      &::after {
        content: '';
        display: inline-block;
        height: 4px;
        width: 6px;
        background-image: url('../assets/img/icons/arrow_down-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid $color-light;
    }

    //TODO: переделать hover на tooltip
    &:hover {
      .nav__profile_img {
        border: 1px solid $color-primary;
      }
    }

    &:focus,
    &:active {
      .nav__tooltip {
        display: block;
      }
    }
  }
}
