.card {
  &__wrapper {
    padding-top: 30px;
    padding-bottom: 75px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: repeat(3, 394px);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__item-img {
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 0 8px 15px rgba($black, 0.15);

    &:hover { box-shadow: 0 8px 20px rgba($black, 0.4); }
  }

  &__item-descr {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  &__item-author,
  &__item-date {
    font-size: 12px;
    line-height: 14px;
    color: rgba($txt, 0.6);
  }

  &__item-author {
    position: relative;
    margin-right: 15px;

    &::after {
      content: "";
      width: 3px;
      height: 3px;
      background: $dot;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      right: -10px;
    }
  }

  &__loader { margin: 60px auto 0; }
}
