.btn {
  @include font_config(normal, 500, 1.4rem, 1.6rem);

  border: 0;
  background: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 15px;
  color: $color-txt;

  &__profile {
    font-weight: 400;
    padding: 0;

    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    padding: 9px 12px;

    &:hover {
      color: $color-primary;
    }

    &:active {
      background-color: $color-ltblue-active;
    }
  }

  &__notify {
    text-decoration: none;
    padding: 5px 9px;
    border: 1px solid $color-light;

    &:hover {
      border: 1px solid $color-ltblue;
    }

    &:active {
      background-color: $color-ltblue;
    }
  }

  &_active {
    background-color: $color-ltblue;
    color: $color-primary;
  }

  &__new-task {
    background: $color-primary;
    color: $color-light;

    &:hover {
      background: $color-primary-hover;
    }
  }

  &__img {
    background: url('../assets/img/icons/edit-icon.svg');
    background-repeat: no-repeat;
    display: inherit;
    align-items: center;
    min-height: 20px;
    min-width: 20px;
  }

  &__accept {
    background: $color-success;
    color: $color-light;

    &:hover {
      background: $color-success-hover;
    }
  }

  &__edit-bg {
    background: $color-primary;
    color: $color-ltblue;

    &::after {
      content: '';
      background: url('../assets/img/icons/edit-icon.svg');
      background-repeat: repeat;
      display: block;
      min-height: 20px;
      min-width: 20px;
    }
  }

  &__edit-sm {
    background: $color-ltblue;
    color: $color-primary;
  }

  &__back {
    color: $color-primary;
  }

  &__delete {
    color: $color-danger;
  }

  &__cross {
    color: $color-blue-icon;
  }

  &__filter {
    background: $color-light;
    display: inline-block;
    margin: 0 5px 0 0;
    border: 1px solid $color-txt;
    text-decoration: none;

    &-checkbox {
      display: block;
    }

    &-video {
      color: $color-primary;
      border-color: $color-primary;

      &:hover {
        background: $color-video-hover;
      }

      &:active,
      &:focus {
        background: $color-primary;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }

    &-photo {
      color: $color-success;
      border-color: $color-success;

      &:hover {
        background: $color-photo-hover;
      }

      &:active,
      &:focus {
        background: $color-success;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }

    &-audio {
      color: $color-warning;
      border-color: $color-warning;

      &:hover {
        background: $color-audio-hover;
      }

      &:active,
      &:focus {
        background: $color-warning;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }
  }
}
