.input {
  @include font_config(normal, 400, 1.4rem, 1.6rem);

  outline: none;
  width: 393px;
  padding: 12px 15px;
  background: $color-light;
  background-repeat: no-repeat;
  background-position: center right 15px;
  border: 1px solid $color-blue-outline;
  border-radius: 4px;

  &_search {
    background-image: url('../assets/img/icons/search-icon.svg');
  }

  &_date {
    background-image: url('../assets/img/icons/calendar-icon.svg');
  }

  &:hover {
    border-color: $color-blue-icon;
  }

  &:focus {
    border-color: $color-primary;
  }
}
