@import '../../styles/colors.scss';

.user {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 2rem;
    margin-left: 4rem;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    @include outline(1px, transparent, 50%);

    &:focus,
    &:hover {
      @include outline(1px, $blue, 50%);
    }
  }

  &__btn {
    border: none;
    background: none;
    position: relative;

    &::after {
      content: '';
      width: 0.6rem;
      height: 0.4rem;
      background: url('../../../public/img/icons/arrow-down.svg') no-repeat center;
      position: absolute;
      top: 50%;
      right: -1rem;
    }

    &:focus .user__avatar { @include outline(1px, $blue, 50%); }
  }
}

.dropdown {
  position: relative;
  display: flex;

  &__content {
    width: 33.4rem;
    margin-top: 1rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba($black, 0.25);

    @include outline(1px, $blue-outline, 4px);

    &--avatar {
      width: 8.8rem;
      top: 2rem;
      right: -1.5rem;
      text-align: right;
    }

    &--show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content-item {
    padding: 1.2rem 1.4rem;
    display: block;
    color: inherit;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover,
    &:focus {
      background: $itblue;
    }

    &-link {
      color: inherit;
    }
  }
}

.show {
  opacity: 1;
  visibility: visible;
}
