.button {
  border: none;
  background: 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;

  &__tabs {
    color: $color-gray;
    margin: 0 12.5px;
    @include font_config(normal, 500, 28px, 33px);
  }

  &__tabs_active {
    color: $color-red;
    border-bottom: 2px solid $color-red;
    padding-bottom: 6px;
  }

  &__sign-in {
    @include font_config(normal, 500, $font-size-16, 19px);
    border: 0 solid $color-red;
    border-radius: 4px;
    color: $color-light;
    background: $color-red;
    padding: 9px 32px;

    &:hover {
      background-color: $color-red-second;
    }
  }
}

.nav__button {
  @include font_config(normal, 500, $font-size-16, 19px);
  color: $color-red;

  &:hover {
    color: $color-red-second;
  }
}
