@media (max-width: 1180px) {
  .container {
    margin: 0 auto;
  }

  .movie-card {
    &:last-child {
      margin-right: 0;
    }
  }

  .news {
    &__list {
      overflow: auto;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: $color-gray-second;
      border-radius: 2px;

      &-thumb {
        background-color: $scroll-bar-color;
        border: 2px solid $color-gray-second;
        border-radius: 4px;

        &:hover {
          background-color: $color-gray;
        }
      }
    }
  }

  .genre {
    &__list {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 708px;
    margin: 0 auto;
  }

  .movie-card {
    &:last-child {
      margin-right: 20px;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    &__auth {
      flex-direction: column;
      justify-content: center;
    }

    &__user-name {
      text-align: center;
      margin: 0 0 6px;
    }

    &__search-icon {
      width: 16px;
      height: 16px;
    }

    &__search,
    &__auth {
      padding-top: 16px;
    }
  }

  .news__list,
  .genre__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-card {
    margin-bottom: 26px;
  }

  .footer {
    min-width: 708px;
  }
}
