@import '../../styles/text.scss';

.form {
  display: grid;
  margin-bottom: 1.4em;

  &__label {
    @include label__text;

    margin-bottom: 0.64em;
  }

  &__wrapper {
    background: $white;
    padding: 0.85em 1.1em;
    border: 1px solid $blue_outline;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      border-color: $grey-blue-icon;
    }

    &:active,
    &:focus {
      border-color: $blue;
    }

    &:invalid {
      border-color: $red;
    }

    &__input {
      border: none;
      background: none;
      width: 100%;
      height: 100%;
    }
  }
}
