
/* Notification */
.notification {
  &__button {
    padding: 0.8rem 0.9rem;
    background: transparent;
    border: none;
    position: relative;

    @include outline(1px, transparent, 4px);

    &:focus { background: $blue-outline; }

    &:hover,
    &:focus { @include outline(1px, $blue-outline, 4px); }

    &-text {
      padding: 0.1rem 0.4rem;
      position: absolute;
      top: 0.3rem;
      right: 0.2rem;

      @include outline(2px, $white, 50%);
      @include font(1.2rem, 500, 1.4rem);

      background-color: $red;
      border-radius: 50%;
      color: $white;

      &--dot {
        padding: 0.3rem;

        @include outline(2px, $white, 50%);

        top: 0.3rem;
        right: 0;
      }
    }
  }

  &__card {
    &-wrapper {
      display: flex;
      align-items: center;
      padding: 1.6rem 2.1rem;
      background: $white;

      &:hover {
        box-shadow: 0 4px 15px rgba($black, 0.15);
      }
    }

    &-img {
      margin-right: 1rem;
      padding: 1.6rem 1.4rem;
      background: $itblue;
      border-radius: 50%;
      position: relative;
      margin-bottom: 0.4rem;
    }

    &-info {
      &__task {
        @include font(1.4rem, 500, 1.6rem);
      }

      &__meta {
        @include font(1.2rem, 500, 1.4rem);

        color: rgba($txt, 0.6);
      }
    }
  }
}

/* Dropdown */

.dropdown {
  position: relative;
  display: flex;

  &__content {
    width: 33.4rem;
    margin-top: 1rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba($black, 0.25);

    @include outline(1px, $blue-outline, 4px);

    &--avatar {
      width: 8.8rem;
      top: 2rem;
      right: -1.5rem;
      text-align: right;
    }

    &--show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content-item {
    padding: 1.2rem 1.4rem;
    display: block;
    color: inherit;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover,
    &:focus {
      background: $itblue;
    }

    &--status {
      &:nth-child(2) { color: $inwork; }
      &:nth-child(3) { color: $wait; }
      &:nth-child(4) { color: $done; }
    }
  }

  &__content-link {
    color: inherit;
  }
}

.simplebar {
  &-scrollbar::before {
    height: 10.2rem;
    background: $gray-blue-icon;
    border-radius: 2.1rem;
    width: 4px;
    margin: 0 auto;
    opacity: 1;
  }
}

/* Select */

.select {
  display: flex;
  align-items: center;

  &__text {
    width: 33.4rem;
    padding: 1.2rem 1.5rem;
    position: relative;
    background: transparent;
    background: $white;

    @include outline(1px, $blue-outline, 4px);

    &::after {
      content: '';
      width: 0.6rem;
      height: 0.4rem;
      background: url("../images/icons/arrow-down.svg");
      position: absolute;
      top: 45%;
      right: 2rem;
    }

    &:focus.select__text::after {
      transform: rotate(180deg);
      transition: rotate 0.3s ease-in-out;
    }

    &:hover { border-color: $gray-blue-icon; }

    &:focus {
      border-color: $blue;
      caret-color: transparent;
    }

    &--status {
      width: 18.7rem;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
  }

  &__dropdown-content {
    width: 33.4rem;
    max-height: 27.4rem;
    margin-top: 1rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba($black, 0.25);
    transform: translate(-100%, 2rem);

    @include outline(1px, $blue-outline, 4px);

    &--status {
      width: 186px;
      transform: translate(-100%, 2rem);
    }
  }

  &__dropdown-content__item {
    padding: 1.2rem 1.4rem;
    display: block;
    color: inherit;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover,
    &:focus {
      background: $itblue;
    }

    &--status {
      &:nth-child(2) { color: $inwork; }
      &:nth-child(3) { color: $wait; }
      &:nth-child(4) { color: $done; }
    }
  }
}

/* Input */

.input__block {
  display: flex;
  align-items: center;

  &-button {
    border: none;
    background: transparent;

    &--close {
      position: absolute;
      top: 30%;
      right: 2rem;
    }
  }

  &-icon {
    border: none;
    background: transparent;
  }

  &-text {
    width: 39.4rem;
    padding: 1.2rem 1.5rem;
    position: relative;
    background: transparent;
    background: $white;

    @include outline(1px, $blue-outline, 4px);

    &::after {
      content: '';
      width: 0.6rem;
      height: 0.4rem;
      background: url("../images/icons/arrow-down.svg");
      position: absolute;
      top: 45%;
      right: 2rem;
    }

    &:focus.input__block-text::after {
      transform: rotate(180deg);
      transition: rotate 0.3s ease-in-out;
    }

    &:hover { border-color: $gray-blue-icon; }

    &:focus {
      border-color: $blue;
      caret-color: transparent;
    }

    &--empty { border-color: $red; }

    &--search {
      &:focus {
        caret-color: $txt;
        padding-left: 4rem;
        color: inherit;

        &::placeholder {
          color: transparent;
          transition: color 0.3s ease-in-out;
        }
      }

      &:focus.icon--close {
        fill: $gray-blue-icon;
      }
    }
  }

  &-label {
    position: absolute;
    top: -1.8rem;
    left: 0;

    @include font(1.2rem, 500, 1.4rem);
  }

  &-box {
    position: relative;
    margin-right: 2rem;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    &--search {
      &::after {
        width: 1.2rem;
        height: 1.3rem;
        background: url("../images/icons/search-icon.svg");
        top: 30%;
        transform: translate(-3rem);
        transition: transform 0.2s ease-in-out;
      }

      &:focus-within.input__block-box--search::after {
        transform: translate(-38rem);
        transition: transform 0.2s ease-in-out;
      }

      &:focus-within.icon--close {
        fill: $gray-blue-icon;
        position: absolute;
        cursor: pointer;
      }

      &:focus { @include outline(1px, $blue, 4px); }
    }

    &--calendar {
      &::after {
        width: 1.5rem;
        height: 1.4rem;
        background: url("../images/icons/calendar.svg");
        right: 2rem;
      }
    }
  }
}

/* Content */

.content__box {
  &--video {
    color: $blue;
  }

  &--audio {
    color: $yellow-audio;
  }

  &--photo {
    color: $green;
  }

  &-text {
    @include font(1.4rem, 500, 1.6rem);

    margin-left: 5px;

    &--video {
      color: $blue;
    }

    &--audio {
      color: $yellow-audio;
    }

    &--photo {
      color: $green;
    }
  }

  &--photo,
  &--video,
  &--audio {
    &:focus .content__box-text {
      color: $white;
    }
  }

  &-time { margin-left: 5px; }
}

/* === Buttons === */

.btn__kit {
  padding: 1.2rem 1.5rem;
  display: flex;
  border-radius: 4px;
  align-items: center;

  &--blue {
    background: $blue;

    &:hover { background: $blue-btn-hover; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:disabled { background: rgba($blue, 0.5); }
  }

  &--green {
    background: $green;

    &:hover { background: $green-hover; }

    &--active,
    &:focus { background: $green-active; }

    &:disabled { background: rgba($green, 0.5); }
  }

  &--trans {
    &:hover { background: $itblue; }

    &--active,
    &:focus { background: $itblue-active; }

    &:disabled { opacity: 0.3; }
  }

  &--red {
    &:hover { background: $red-hover; }

    &--active,
    &:focus { background: $red-active; }

    &:disabled { opacity: 0.3; }
  }

  &--edit {
    padding: 1rem;
    background: $blue;

    &:hover { background: $blue-btn-hover; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:disabled { background: rgba($blue, 0.5); }
  }

  &--edit-small {
    padding: 0.7rem;
    background: $itblue;

    &:hover { background: $blue-btn-hover; }

    &:hover .icon--edit-small { fill: $white; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:focus .icon--edit-small { fill: $white; }

    &:disabled { background: rgba($itblue, 0.3); }

    &:disabled .icon--edit-small { fill: rgba($blue, 0.3); }
  }

  &--delete {
    padding: 0.7rem;
    background: $itblue;

    &:hover { background: $blue-btn-hover; }

    &:disabled { background: rgba($itblue, 0.3); }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:focus .icon--delete {
      stroke: $white;
    }

    &:hover .icon--delete {
      stroke: $white;
    }

    &:disabled .icon--delete { fill: rgba($blue, 0.3); }
  }

  &-text {
    padding-left: 1rem;
    color: $white;

    @include font(1.4rem, 500, 1.6rem);

    &--trans {
      color: $blue;
    }

    &--red {
      color: $red;
    }
  }
}

/* Calendar */

.calendar {
  position: relative;

  &__wrapper {
    padding: 1.9rem 2rem;
    background: $white;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 3.5rem;
    left: -38.8rem;

    @include outline(1px, $blue-outline, 4px);

    box-shadow: 0 4px 15px rgba($black, 0.15);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
  }

  &__title-text {
    @include font(1.4rem, 500, 1.6rem);
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__buttons {
    &::after {
      content: '';
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: -4px;
    }

    &--btnPrev {
      &::after {
        right: 3rem;
        background: url('../images/icons/btn-prev.svg') no-repeat center;
      }
    }

    &--btnNext {
      &::after {
        background: url('../images/icons/btn-next.svg') no-repeat center;
      }
    }
  }

  &__nameOfWeek,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2.2rem;
    grid-row-gap: 1.5rem;
    text-align: center;
  }

  &__nameOfWeek {
    margin-bottom: 1.5rem;
    grid-template-rows: repeat(1, 1fr);
  }

  &__days {
    grid-template-rows: repeat(5, 1fr);
  }

  &__days-item__num {
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 4px;

    &:hover { color: $blue; }

    &:focus,
    &--active {
      padding: 0.6rem;
      background: $blue;
      color: $white;
    }

    &--today { background: $itblue; }
  }

  &__weekName {
    @include font(1.2rem, 500, 1.4rem);

    color: rgba($txt, 0.7);
  }
}

/* Card user */
.card__user {
  &-wrapper {
    padding: 1.7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include outline(1px, $blue-outline, 4px);

    &:hover {
      box-shadow: 0 4px 15px rgba($black, 0.15);
    }
  }

  &-descr,
  &-status,
  &-buttons {
    display: flex;
    align-items: center;
  }

  &-descr {
    &__text {
      margin-left: 2rem;

      @include font(1.4rem, 500, 1.6rem);
    }
  }

  &-status {
    &__auth {
      margin-right: 8.5rem;
    }

    &__due {
      position: relative;
      margin-right: 4rem;

      &::after {
        content: '';
        width: 1.5rem;
        height: 1.4rem;
        background: url('../images/icons/calendar-gray.svg');
        position: absolute;
        top: 0;
        left: -2rem;
      }
    }
  }

  &-button + .card__user-button {
    margin-left: 1.5rem;
  }
}

.player__controls {
  &-wrapper {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    width: 4rem;
    height: 3rem;
    background: $black;
  }
}

/* Load */

.load {
  &__wrapper {
    width: 42.5rem;
    height: 18rem;
    padding: 3rem;

    @include outline(1px, $blue-outline, 4px);
  }

  &__wrapper-descr {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    @include font(1.6rem, 500, 1.9rem);

    margin-right: 2rem;
  }

  &__text {
    margin-right: 0.8rem;
    color: rgba($txt, 0.6);
  }

  &__types {
    display: flex;
    align-items: center;

    &-icon + .load__types-icon {
      margin-left: 0.5rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &-progress {
      width: 9.6rem;
      height: 3rem;
    }
  }

  &__content-value {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $blue;
    text-align: center;
  }

  &__content-border {
    width: 11.6rem;
    height: 7.4rem;
    padding: 0.3rem;

    @include outline(1px, $blue-outline, 4px);

    &--progress {
      padding: 2.5rem 1rem;
    }

    &--add {
      padding: 2.7rem 4.8rem;
      border-style: dashed;
      border-width: 2px;
    }

    &:hover.load__content-border--add {
      border-color: $blue;
    }
  }

  &__content-item {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .icon--plus {
      fill: $blue;
    }
  }
}
