@import '../../styles/variables.scss';

.file {
  border-bottom: 1px solid $blue_outline;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__name {
      margin-left: 0.85em;
      margin-right: 0.85em;
    }

    &__size {
      opacity: 0.6;
    }
  }

  .button {
    padding: 0.57em 0.71em;

    .button__icon {
      background: $ltblue;
    }
  }
}
