@import '../label/label.scss';

.task_card {
  background: $white;
  padding: 1.28em 1.43em;
  border: 1px solid $blue_outline;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  margin-bottom: 1.1em;

  &__info {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;

    &__name {
      @include button__text;
    }

    &__date {
      display: flex;

      &__text {
        margin-left: 0.7em;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-self: center;

    button:last-of-type {
      margin-left: 1.1em;
    }
  }
}
