{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "commonjs": true,
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    // "parser": "babel-eslint",
    "rules": {
        "no-console": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "object-curly-newline": [
            "warn",
            {
                "multiline": true
            }
        ],
        "func-names": [
            "warn",
            "as-needed"
        ],
        "no-param-reassign": 0,
        "linebreak-style": 0
    }
}