$blue: #107eff;
$blue_hover: #308fff;
$blue_active: #0067df;
$green-photo: #43dd9c;
$yellow-audio: #ffac2f;
$txt: #313131;
$blue_outline: #d8e3ec;
$grey-blue-icon: #96aecd;
$itblue: #e8f3ff;
$black: #000;
$red: #ff603e;
