$blue: #107EFF;
$blue-hover: #308FFF;
$blue-active: #0067DF;
$green: #43DD9C;
$green-hover: #51EDAC;
$green-active: #33CD8C;
$yellow: #FFAC2F;

$txt: #313131;
$in-work: #D663FF;
$feedback: #2CCCFF;
$approved: #97DC26;

$outline: #D8E3EC;
$gray-blue-icon: #96AECD;
$ltblue: #E8F3FF;

$red: #FF603E;
$background: #F3F8FB;
$border: #C8D8ED;

$ltred: #FFF0EC;
$mdred: #FFD9CF;

$mdblue: #C2DFFF;