$blue: #107eff;
$blue-hover: #308fff;
$blue-active: #0067df;
$green: #43dd9c;
$green-hover: #51edac;
$green-active: #33cd8c;
$yellow: #ffac2f;

$txt: #313131;
$in-work: #d663ff;
$feedback: #2cccff;
$approved: #97dc26;

$outline: #d8e3ec;
$gray-blue-icon: #96aecd;
$ltblue: #e8f3ff;

$red: #ff603e;
$background: #f3f8fb;
$border: #c8d8ed;

$ltred: #fff0ec;
$mdred: #ffd9cf;

$mdblue: #c2dfff;