@font-face {
  font-family: 'Roboto';
  src:
    url('../../public/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../public/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../../public/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../public/fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
