@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Roboto-Medium', '../../public/fonts/Roboto-Medium');
@include font('Roboto-Regular', '../../public/fonts/Roboto-Regular');
