@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../../../public/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}