@import '../../common';

.cardUsers {
    align-items: center;
    background: $color-white;
    border: 1px solid $color-blue-outline;
    border-radius: 4px;
    box-shadow: 0 4px 10px $color-shadow-opacity003;
    cursor: pointer;
    display: flex;
    height: 70px;
    padding-left: 20px;
    position: relative;
    width: 1220px;

    &Hovered:hover {
        box-shadow: 0 4px 15px $color-shadow-opacity015;
        transition: $delay-time;
    }

    &AvatarWrap {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        margin-right: 20px;
        overflow: hidden;
        width: 40px;
    }

    &Avatar {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &NameUser {
        color: $color-black;
        font-family: 'RM';
        font-size: $font-size14;
    }

    &Email {
        color: $color-black;
        font-family: 'RR';
        font-size: $font-size14;
        left: 286px;
        position: absolute;
    }

    &Role {
        color: $color-black;
        font-family: 'RR';
        font-size: $font-size14;
        left: 507px;
        position: absolute;
    }

    &WrapButtonEdit {
        position: absolute;
        right: 69px;
    }

    &WrapButtonRecycle {
        position: absolute;
        right: 20px;
    }
}
