mixin template_card
  template#card
    li.content__item
      .card
        .card__container-img
          div.card__img-bg
          img.card__img(src="" alt='')
          img(src="../../../public/img/content/audio-vect.svg", alt="" class="card__img_audio")
        .card__container-description
          +types()
          span.card__type-time
            
        p.card__title

        .card__author-info
          span.card__author-name
          span.card__delimiter
          time(class="card__date")