@import '../../styles/variables';
@import '../../styles/mixins';

.feed {
  display: grid;
  gap: 3rem;
  padding-top: 40px;

  &__cards {
    grid-template-columns: repeat(3, 393px);
  }

  &__card {
    cursor: pointer;

    &_container {
      padding-top: 15px;
    }

    &_load {
      opacity: 0.1;
    }
  }

  &__img {
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.15));

    &-audio {
      &_sound {
        background: url('../../../public/img/icons/sound.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-fixed;
      }

      &_bg {
        background: $color-card-bg;
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      filter: drop-shadow(0 8px 20px $color-shadow-content);
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

    &-audio {
      filter: blur(21px);
    }
  }

  &__title {
    @include font_config(normal, 400, 1.4rem, 1.6rem);

    padding-bottom: 6px;

    &-shift {
      padding-right: 10px;
    }
  }

  &__info {
    display: flex;
    align-items: baseline;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.4rem;
    position: relative;
    opacity: 0.6;

    &:first-child {
      padding-right: 15px;
    }

    &-point {
      margin-left: 4px;
      color: $color-primary;
    }
  }
}
