@import '../../styles/colors.scss';

.content {
  padding-top: 30px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

    @media (max-width: 762px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    list-style-type: none;
  }
}

.card {
  width: 100%;
  cursor: pointer;

  &__container-img {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding-top: 63.6%;
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.15)); //rgba(0, 0, 0, 0.15)
  }

  &:hover {
    .card__container-img {
      filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.4));
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  &__container-description {
    margin-top: 15px;
  }

  &__type-time {
    opacity: 0.6;
    padding-left: 5px;
  }

  &_video {
    .card__type-time {
      color: $blue;
    }

    .card__img-bg {
      display: none;
    }

    .card__img_audio {
      display: none;
    }
  }

  &_audio {
    .card__img-bg {
      width: 100%;
      height: 100%;
      background: #5B6C7A;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    .card__img {
      filter: blur(15px);

      &_audio {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        width: 70%;
        height: 30%;
      }
    }

    .card__type-time {
      color: $yellow;
    }
  }

  &_photo {
    .card__type-time {
      color: $green;
    }

    .card__img-bg {
      display: none;
    }

    .card__img_audio {
      display: none;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 14px;
    margin: 10px 0 6px;
    font-weight: 400;
  }

  &__author-info {
    display: flex;
    align-items: center;
  }

  &__author-name {
    font-size: 12px;
    opacity: 0.6;
  }

  &__delimiter {
    width: 3px;
    height: 3px;
    background: #70B2FF;
    border-radius: 50%;
    margin: 0 6px;
    display: inline-block;
  }

  &__date {
    font-size: 12px;
    opacity: 0.6;
  }
}