@import '../label/label.scss';
@import '../../styles/variables.scss';
@import '../../styles/text.scss';

.card {
  // display: grid;

  &__img {
    max-width: 28em;
    width: 100%;
    max-height: 17.8em;
    height: 100%;
    border-radius: 0.42em;
    filter: drop-shadow(0 0.57em 1.1em rgba(0, 0, 0, 0.15));

    &:hover {
      filter: drop-shadow(0 0.57em 1.4em rgba(0, 0, 0, 0.4));
    }
  }

  &__type {
    display: flex;
    align-content: center;
    margin-top: 1.1em;
    margin-bottom: 0.7em;

    .duration__video {
      margin-left: 0.35em;
      color: $blue;
    }

    .duration__audio {
      margin-left: 0.35em;
      color: $yellow_audio;
    }
  }

  &__text {
    margin-top: 0.42em;
    display: flex;
    justify-content: flex-start;
  }

  &__date {
    @include date__text;
  }

  &__separator {
    align-self: center;
    padding: 0 0.42em;
  }
}
