.task {
  &__wrapper {
    padding: 3rem;
    background: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include outline(1px, $blue-outline, 4px);
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &-status__text {
    margin-left: 2rem;

    @include font(1.4rem, 500, 1.6rem);
  }

  &__title {
    @include font(2rem, 500, 2.3rem);

    margin-bottom: 1.5rem;
  }

  &__description {
    @include font(1.4rem, 400, 2.1rem);

    margin-bottom: 2rem;
  }
}
