@import '../../styles/colors.scss';

.notification__item {
  &:not(:last-child) {
    border-bottom: 1px solid $outline;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
  }

  &__img-box {
    width: 3.4rem;
    height: 3.4rem;
    min-width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &_content,
    &_comment {
      background: $ltblue;
    }

    &_content {
      .notification-item__img {
        width: 1.2rem;
        height: 1.3rem;
      }
    }

    &_comment {
      .notification-item__img {
        width: 1.2rem;
        height: 1rem;
      }
    }

    &_video {
      background: $blue;

      .notification-item__img {
        width: 0.7rem;
        height: 0.9rem;
        fill: white;
      }
    }

    &_audio {
      background: $yellow;

      .notification-item__img {
        width: 0.8rem;
        height: 1rem;
        fill: white;
      }
    }

    &_photo {
      background: $green;

      .notification-item__img {
        width: 1.1rem;
        height: 0.9rem;
        fill: white;
      }
    }
  }

  &__content {
    box-sizing: border-box;
    padding: 1.6rem 2rem;
    width: 100%;
    background: white;
    display: flex;
    column-gap: 1rem;

    &_new {
      .notification-item__img-box {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          background: $red;
          border: 2px solid white;
          border-radius: 50%;
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__text {
    margin-bottom: 0.4rem;

    &_bold {
      font-weight: 500;
    }
  }
}