include ../nav/nav

mixin header(adminViews, pages)
  header.header
    h1.hidden Task Manager
    .container.nav
      a.nav__logo(href="/")
        img(src="../../../public/img/icons/logo.svg", alt="Логотип")
      if (adminViews)
        +navigation([{href: "index.html", text: "Главная"}, {href: "tasks.html", text: "Задачи"}, {href: "404.html", text: "Пользователи"}], pages)
      else
        +navigation([{href: "index.html", text: "Главная"}, {href: "tasks.html", text: "Задачи"}], pages)
