@import '../../styles/colors.scss';

.search {
  &__text {
    margin-bottom: 0.75em;
  }

  &__box {
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0.929em;
    cursor: pointer;
    fill: $blue;

    &_search {
      width: 0.857em; //12px;
      height: 0.929em; //13px;
      stroke: $blue;
      right: 1.071em;
    }

    &_cross {
      width: 0.714em; //10px;
      height: 0.714em; ///10px;
      top: 1.071em; //15px;
      right: 1.071em;
      fill: $gray-blue-icon;
      display: none;

      &:hover {
        fill: $blue;
      }
    }
    
    &_calendar {
      width: 1.071em; //15px;
      height: 1em; //14px;
      fill: $blue;
      right: 1.071em;
    }
  }

  &__input {
    padding: 0.857em 2.143em 0.857em 1.071em; //12px 30px 12px 15px;

    &_full {
      padding-left: 30px; //????

      & ~ .search__img_search {
        left: 1.071em;
      }
      
      & ~ .search__img_cross {
        display: block;
      }
    }
  }
}