mixin input(type)
  -
    var types = {
      search: {
        name: 'Поиск',
        placeholder: 'Введите название имя исполнителя',
      },
      calendar: {
        name: 'Дата публикации',
        placeholder: 'Укажите дату публикации',
      },
      searchTask: {
        name: 'Поиск',
        placeholder: 'Введите название задачи или имя ответственного',
      },
      calendarTask: {        
        name: 'Срок выполнения',
        placeholder: 'Укажите дату',
      }
    }
    if (type=='search' || type=="searchTask")
      var classes="search"
    else
      var classes="calendar"

  .search__container(class="search__container_"+classes)
    
    p.search__text.label= types[type].name
    .search__box
      input(type="text" class="search__input" placeholder= types[type].placeholder)
      svg(class="search__img search__img_" + classes)
        use(xlink:href="../../../public/img/icons/input-sprite.svg#"+classes)

      if classes=="search"
        svg(class="search__img search__img_cross")
          use(xlink:href="../../../public/img/icons/input-sprite.svg#cross")
