@import '../../styles/variables';
@import '../../styles/mixins';

.select {
  position: relative;
  outline: none;

  &__list {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    text-align: left;
    margin-top: 28px;
    box-shadow: 0 4px 15px $color-shadow-item;
    border-radius: 4px;
    background-color: $color-light;
    z-index: $z-tooltip;

    &_visible {
      display: block;
    }

    &-item {
      border: 1px solid $color-blue-outline;
      border-bottom: 0;
      cursor: pointer;

      padding: 12px 15px;
      color: inherit;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid $color-blue-outline;
      }

      &:hover {
        background: $color-ltblue;
      }
    }
  }

  &__input_hidden {
    display: none;
  }
}
