@import '../../styles/colors.scss';

.select-text {
  margin-bottom: 0.75em;
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  .select {
    padding: 0.857em 1.414em 0.857em 1em;
    cursor: pointer;
  
    &__btn {
      width: 0.7rem;//7px
      height: 0.5rem;//5px
      fill: $blue;
      position: absolute;
      top: 18px;
      right: 15px;
      transition: 0.3s linear;
    }
    
    &-status {
      &__item {
        font-weight: 500;
        
        &_in-work {
          color: $in-work;
        }

        &_feedback {
          color: $feedback;
        }

        &_approved {
          color: $approved;
        }
      }
    }
  
    &__option {
      display: none;
      position: absolute;
      top: 4.571em;
      max-height: 27.4rem;
      overflow-y: auto;
      width: 100%;
      z-index: 1;
      border: 1px solid $outline;
      box-sizing: border-box;
      border-radius: 0.4;//4px
      filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.15));
    }

    &__list {
      list-style: none;
      border-radius: 0.4rem;
    }

    &__item {
      padding: 0.857em 1.214em 0.857em 1em;
      background: white;
      box-sizing: border-box;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &:not(:last-child) {
        border-bottom: 1px solid $outline;
      }

      &:hover {
        background: $ltblue;
      }

      &_placeholder {
        opacity: 0.6;
      }
    }
  }

  &_active {
    .select {
      opacity: 0.6;

      &__option {
        display: block;
      }

      &__btn {
        transform: scaleY(-1);
      }
    }
  }

  .select:hover {
    border: 1px solid $gray-blue-icon;
  }
  
  .select:focus {
    border: 1px solid $blue;
  }
}

.search__container_role {
  margin-bottom: 2rem;
}

.search__container_type {
  max-width: 38.3rem;
}
