@import '../../input/input.scss';

.filter__buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.64em;
}

.filter_role {
  &__buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.64em;
  }
}
