@import '../../styles/text.scss';
@import '../../styles/variables.scss';

.user_card {
  background: $white;
  padding: 1.28em 1.43em;
  border: 1px solid $blue_outline;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.1em;

  &__info {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    align-items: center;

    &__img {
      max-width: 2.8em;
      width: 100%;
      max-height: 2.8em;
      height: 100%;
      border-radius: 50%;
      border: 1px solid transparent;
      box-sizing: border-box;
    }

    &__name {
      @include button__text;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-self: center;

    button:last-of-type {
      margin-left: 1.1em;
    }
  }
}
