mixin types(type)
  -
    const types={
      video: 'Видео', 
      photo: 'Фото', 
      audio: 'Аудио'
    }
  
  if type == undefined 
    svg.type__img
      use(xlink:href='../../../public/img/icons/type-sprite.svg#')
    span.type__text

  else
    svg.type__img(class="type__img_"+type)
      use(xlink:href='../../../public/img/icons/type-sprite.svg#'+type)
    span.type__text(class="type__text_"+type)= types[type]
