$font: 'Roboto', arial, helvetica, sans-serif;

$color-primary: #107eff;
$color-primary-hover: #308fff;
$color-primary-active: #0067df;
$color-success: #43dd9c;
$color-success-hover: #51efac;
$color-success-active: #33cd8c;
$color-warning: #ffac2f;
$color-txt: #313131;
$color-blue-outline: #d8e3ec;
$color-blue-icon: #96aecd;
$color-ltblue: #e8f3ff;
$color-ltblue-active: #c2dfff;
$color-danger: #ff603e;
$color-danger-active: #ffd9cf;
$color-bg: #f3f8fb;
$color-light: #fff;
$color-divider: #c8d8ed;

$z-tooltip: 1;
$z-fixed: 2;
