$font: 'Roboto', arial, helvetica, sans-serif;

$color-primary: #107eff;
$color-primary-hover: #308fff;
$color-primary-active: #0067df;
$color-success: #43dd9c;
$color-success-hover: #51efac;
$color-success-active: #33cd8c;
$color-warning: #ffac2f;
$color-txt: #313131;
$color-card-bg: #5b6c7a;
$color-blue-outline: #d8e3ec;
$color-blue-icon: #96aecd;
$color-ltblue: #e8f3ff;
$color-ltblue-active: #c2dfff;
$color-danger: #ff603e;
$color-danger-active: #ffd9cf;
$color-bg: #f3f8fb;
$color-light: #fff;
$color-divider: #c8d8ed;

$color-video-hover: rgba(16, 126, 255, 0.1);
$color-photo-hover: rgba(67, 221, 156, 0.1);
$color-audio-hover: rgba(255, 172, 47, 0.1);

$color-shadow-item: rgba(0, 0, 0, 0.15);
$color-shadow-content: rgba(0, 0, 0, 0.4);

$z-tooltip: 1;
$z-fixed: 2;
