include ../../components/header/header
include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/button-with-text/button-with-text
include ../../components/user-avatar/user-avatar
include ../../components/button-task/button-task

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../../../public/img/icons/logo.svg" type="image/svg")
    title Выпускная работа
  body 
    +header('admin', 3)
    main.main
      .container
        .search 
          +input('search', 'Поиск', 'Введите имя пользователя')
          +checkbox-role
        .control
          +button-with-text('new-user')
        section.content
          ul.content__list 
            template#template-user 
              li.content__item.user-box 
                .user-box__info 
                  .user-box__avatar
                    +avatar('small')
                  .user-box__box-name 
                    p.user-box__name.content__title
                  .user-box__box-email 
                    p.user-box__email 
                  .user-box__box-role
                    p.user-box__role
                .user-box__btn 
                  +button-task('small', 'edit')
                  +button-task('small', 'delete')




          
        