@import '../../styles/reset.scss';

.main {
  padding-bottom: 15.2rem;
}

.search {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;//20px;

  @media (max-width: 762px) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

.control {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.content {
  padding-top: 2rem;

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background: white;
    border: 1px solid $outline;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 1.5rem 2rem;

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.user-box {
  &__info,
  &__btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__info {
    column-gap: 2rem;
    width: calc(100% - 10.3rem);
  }

  &__btn {
    column-gap: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 762px) {
    flex-direction: column;
    row-gap: 2rem;

    &__info {
      width: 100%;
      flex-wrap: wrap;
      row-gap: 2rem;
    }
  }

  &__box-name {
    max-width: 20.6rem;
    flex-basis: 20.6rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__box-email {
    flex-basis: 22.1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__box-role {
    min-width: 10.6rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
