@import '../../styles/variables';
@import '../../styles/mixins';

.btn {
  @include font_config(normal, 500, 1.4rem, 1.6rem);

  border: 0;
  background: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 15px;
  color: $color-txt;
  display: flex;
  align-items: center;
  text-decoration: none;

  &__profile {
    font-weight: 400;
    padding: 0;
  }

  &_reset {
    padding: 0;
  }

  &__task {
    padding: 0;

    &-sm {
      padding: 9px;
    }
  }

  &__link {
    padding: 9px 12px;

    &:hover {
      color: $color-primary;
    }

    &:active {
      background-color: $color-ltblue-active;
    }
  }

  &__submit {
    @include font_config(normal, 500, 1.2rem, 1.4rem);

    padding: 8px 10px;
  }

  &__notify {
    padding: 5px 9px;
    border: 1px solid $color-light;

    &:hover {
      border: 1px solid $color-ltblue;
    }

    &:active {
      background-color: $color-ltblue;
    }
  }

  &__select {
    position: relative;
    text-align: left;
    cursor: pointer;
    color: $color-opacity-txt;

    &:focus,
    .btn__select_active {
      border-color: $color-primary;
    }
  }

  &_active {
    background-color: $color-ltblue;
    color: $color-primary;
  }

  &_inline {
    display: inline-flex;
  }

  &_edit {
    &_md {
      padding: 10px;
    }

    &_sm {
      padding: 7px;
    }
  }

  &_primary {
    background: $color-primary;
    color: $color-light;

    &:hover {
      background: $color-primary-hover;
    }

    &:active {
      background: $color-primary-active;
    }

    &-trans {
      background-color: $color-ltblue;
      color: $color-primary;

      &:hover {
        background: $color-primary-hover;
        color: $color-light;
      }

      &:active {
        background: $color-primary-active;
        color: $color-light;
      }
    }
  }

  &_success {
    background: $color-success;
    color: $color-light;

    &:hover {
      background: $color-success-hover;
    }

    &:active {
      background: $color-success-active;
    }
  }

  &_trans {
    color: $color-primary;
    padding: 9px 12px;

    &:hover {
      background-color: $color-ltblue;
    }

    &:active {
      background-color: $color-ltblue-active;
    }
  }

  &_danger {
    color: $color-danger;
    padding: 9px 12px;

    &:hover {
      background-color: $color-danger-hover;
    }

    &:active {
      background-color: $color-danger-active;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &__filter {
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: none;

    &-video {
      display: inline-block;
      border: 1px solid $color-primary;
      color: $color-primary;

      &:hover {
        background: $color-video-hover;
      }

      &:active,
      &:focus {
        background: $color-primary;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }

    &-photo {
      display: inline-block;
      border: 1px solid $color-success;
      color: $color-success;

      &:hover {
        background: $color-photo-hover;
      }

      &:active,
      &:focus {
        background: $color-success;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }

    &-audio {
      display: inline-block;
      border: 1px solid $color-warning;
      color: $color-warning;

      &:hover {
        background: $color-audio-hover;
      }

      &:active,
      &:focus {
        background: $color-warning;
        color: $color-light;
      }

      &:active .icon,
      &:focus .icon {
        fill: $color-light;
      }
    }

    &-checkbox {
      display: block;
      position: absolute;
      appearance: none;

      &:checked ~ .btn__filter-video .icon,
      &:checked ~ .btn__filter-video {
        background: $color-primary;
        color: $color-light;
        fill: $color-light;
      }

      &:checked ~ .btn__filter-audio .icon,
      &:checked ~ .btn__filter-audio {
        background: $color-warning;
        color: $color-light;
        fill: $color-light;
      }

      &:checked ~ .btn__filter-photo .icon,
      &:checked ~ .btn__filter-photo {
        background: $color-success;
        color: $color-light;
        fill: $color-light;
      }
    }
  }
}
