.search__block {
  &-wrapper {
    width: 100%;
    display: flex;
    padding-top: 40px;
  }

  &-tags {
    position: relative;

    &-label {
      position: absolute;
      top: -1.8rem;
      left: 0;

      @include font(1.2rem, 500, 1.4rem);
    }
  }

  &-tags__btn {
    padding: 12px 15px;
    background: $white;

    &:not(:first-child) { margin-left: 10px; }

    &--photo,
    &--video,
    &--audio { &:focus .content__box-text { color: $white; } }

    &--video {
      color: $blue;

      @include outline(1px, $blue, 4px);

      &:hover { background: rgba($blue, 0.1); }

      &:focus,
      &--active { background: $blue; }

      &:focus .content__box-text { color: $white; }

      &:focus .icon--video { fill: $white; }
    }

    &--audio {
      color: $yellow-audio;

      @include outline(1px, $yellow-audio, 4px);

      &:hover { background: rgba($yellow-audio, 0.1); }

      &:focus,
      &--active { background: $yellow-audio; }

      &:focus .content__box-text { color: $white; }

      &:focus .icon--audio { fill: $white; }
    }

    &--photo {
      color: $green;

      @include outline(1px, $green, 4px);

      &:hover { background: rgba($gray-line, 0.1); }

      &:focus,
      &--active { background: $green; }

      &:focus .icon--photo { fill: $white; }
    }
  }
}
