@import './variables';

.main-page__search-panel > * {
    margin-right: 20px;
}

.main-page__box-buttons > * {
    margin-right: 15px;

    &:last-child {
        margin: 0;
    }
}

.main-page__wrap-button-task {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
}

.main-page__wrap-card-task {
    display: flex;
    flex-direction: column;
}

.main-page__wrap-card-users > * {
    margin-bottom: 15px;

    &:last-child {
        margin: 0;
    }
}
