$blue: #107eff;
$blue_hover: #308fff;
$blue_active: #0067df;
$background: #f3f8fb;
$header_line: #c8d8ed;
$green_photo: #43dd9c;
$green_photo_hover: #43dd9c1a;
$green_hover: #51efac;
$green_active: #33cd8c;
$yellow_audio: #ffac2f;
$yellow_audio_hover: #ffac2f1a;
$TXT: #313131;
$blue_outline: #d8e3ec;
$grey-blue-icon: #96aecd;
$ltblue: #e8f3ff;
$ltblue_active: #c2dfff;
$black: #000;
$red: #ff603e;
$red_hover: #fff0ec;
$red_active: #ffd9cf;
$white: #fff;
$violet: #d663ff;
$azure: #2cccff;
$lime: #97dc26;
