@import '../../styles/colors.scss';

.button-task {
  &__img {
    width: 1.25em;
    height: 1.125em;
  }

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
  }

  &_big {
    background: $blue;
    padding: 0.688em 0.625em 0.625em 0.688em;

    .button-task__img {
      stroke: white;
    }
  }

  &_small {
    background: $ltblue;
    padding: 0.571em 0.5em 0.5em 0.643em;

    .button-task__img {
      stroke: $blue;
      fill: $blue;
    }

    &:hover {
      .button-task__img {
        stroke: white;
        fill: white;
      }
    }

    &:active {
      .button-task__img {
        stroke: white;
        fill: white;
      }
    }

    &:disabled {
      .button-task__img {
        stroke: $blue;
        fill: $blue;
      }
    }
  }
}