mixin button-task(size, img)
  button.button.button-task(class="button-task_"+size class="button-task_"+img)
    svg.button-task__img
      use(xlink:href="../../../public/img/icons/button-sprite.svg#"+img)