@import '../../styles/colors.scss';

.button-task {
  padding: 0;
  
  &__img {
    &_delete {
      width: 1.3rem;
      height: 1.6rem;
    }

    &_edit {
      width: 2.1rem;
      height: 2rem;
    }
  }

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
  }

  &_big {
    background: $blue;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .button-task__img use {
      stroke: white;
      fill: white;
    }
  }

  &_small {
    background: $ltblue;
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .button-task__img {
      stroke: $blue;
      fill: $blue;
    }

    &:hover {
      .button-task__img {
        stroke: white;
        fill: white;
      }
    }

    &:active {
      .button-task__img {
        stroke: white;
        fill: white;
      }
    }

    &:disabled {
      .button-task__img {
        stroke: $blue;
        fill: $blue;
      }
    }
  }
}