doctype
html
  head
  body
      block header 
            .search__block-wrapper 
              block search
              +input("input__block", "search")
              block select
              block calendar
              .search__block-tags
                .search__block-tags-wrapper
                  block filter-content
                    +filter("search__block-tags", btns)
            label(class="search__block-tags-label" for="search__block-tags") Тип контента