@import '../../common';

.photo {
    align-items: center;
    background: $color-white;
    border: 1px solid $color-green;
    border-radius: 4px;
    color: $color-blue;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 84px;

    &Hovered:hover {
        background: $photo-background-hovered;
        transition: $delay-time;
    }

    &Clicked {
        background: $color-green;
        transition: $delay-time;

        &:hover {
            background: $color-green;
        }
    }
}

.checkbox {
    height: 0.1px;
    opacity: 0;
    position: absolute;
    width: 0.1px;
    z-index: -10;
}
