@import '../../styles/variables';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

  &__logo {
    display: block;
    margin-right: 30px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding-right: 16px;
    display: inherit;

    &:last-child {
      padding-right: 0;
    }
  }

  &__notify {
    &-new {
      padding: 0 4px;
      position: absolute;
      top: 0%;
      left: 50%;
      border: 2px solid $color-light;
      border-radius: 10px;
      background-color: $color-danger;
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: 500;
      color: $color-light;
      transform: translateY(-4%);

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    position: relative;

    &:first-child {
      margin-right: 30px;
    }

    &_name {
      padding-right: 20px;
    }

    &_arrow {
      &::after {
        content: '';
        display: inline-block;
        height: 4px;
        width: 6px;
        background-image: url('../../../public/img/icons/arrow_down-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid $color-light;
      background-color: $color-light;
      box-shadow: 0 0 2px $color-shadow-item;
    }

    &:hover {
      .nav__profile_img {
        border: 1px solid $color-primary;
      }
    }
  }
}
