include ../../components/header/header
include ../../components/search/search
include ../../components/select/select
include ../../components/button-with-text/button-with-text


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../../../public/img/icons/logo.svg" type="image/svg")
    title Выпускная работа
  body 
    +header('admin', 3, 'Семён Щеглов', '../../../public/img/users/1.jpg')
    main.main
      .container
        .search
          +input('search')
          +input('calendar')
          +select-status
          include ../../components/checkbox/checkbox
        .control
          +button-with-text('new-task')
        section.content
          ul.content__list
    include ../../components/task/task

