@import '../../styles/reset.scss';

.search {
  padding-top: 4rem;//40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-column-gap: 2rem;//20px;

  @media (max-width: 762px) {
    grid-template-columns: auto;
    grid-template-areas: "a a" "b c" "d d";
    grid-row-gap: 2rem;

    &__container {
      &_search {
        grid-area: a;
      }

      &_calendar {
        grid-area: b;
      }

      &_status {
        grid-area: c;
      }

      &_type {
        grid-area: d;
      }
    }
  }
}

.content {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.control {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
