block variables
  -
    const items = [
                  {status: "inwork", statusText: "В работе", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "10.02.2020", type: "video", typeText: "Видео", btnCount: true},
                  {status: "done", statusText: "Выполнено", text: "Название равным образом начало повседневной работы показывает", author: "Эльза Калининa", date: "09.02.2020", type: "photo", typeText: "Фото", btnCount: true},
                  {status: "wait", statusText: "Ожидает согласования", text: "Название с другой стороны начало повседневной", author: "Дмитрий Румянцев", date: "08.02.2020",  type: "audio", typeText: "Аудио", btnCount: true},
                  {status: "wait", statusText: "Ожидает согласования", text: "Название равным образом начало повседневной работы по формированию", author: "Гена Черемнов", date: "06.02.2020", type: "photo", typeText: "Фото", btnCount: false},
                  {status: "done", statusText: "Выполнено", text: "Название повседневная практика показывает", author: "Инесса Соловьёвa", date: "01.02.2020", type: "video", typeText: "Видео", btnCount: false},
                ]
    const btns = [
      {type: "video", typeText: "Видео"},
      {type: "photo", typeText: "Фото"},
      {type: "audio", typeText: "Аудио"},
    ]

doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    title Менеджер задач
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    include ../../components/header/header
    +header('administrator', 1)
    .wrapper 
      main.main 
        .container
          section.search
              h1(class="visually-hidden" aria-hidden="true") Заголовок сервиса
              .search__wrapper 
                include ../../components/input/input
                +input("input__block", "search")
                include ../../components/select/select
                +select("select", ["Любой", "В работе", "Ожидает согласования", "Выполнено"], "status", "Статус")
                include ../../components/input/input
                +input("input__block", "calendar-small")
                include ../../components/filter/filter
                +filter("filter", btns)
              include ../../components/buttons/buttons
          div(class="btn__kit-wrapper btn__kit-wrapper--one")
            +button("btn__kit", {name: "blue", icon: "blue", text: "Новая задача"}, "task-new.html")
          include ../../components/cardsOfTasks/cardsOfTasks
          +cardsTasks("card__tasks", items)
