doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../../../public/img/logo.svg" type="image/svg")
    title Выпускная работа
  body 
    include ../../components/header/header
    +header('admin', 'tasks', 3, 'Семён Щеглов', '../../../public/img/users/1.jpg')