@import '../../styles/reset.scss';

.search {
  padding-top: 2.857em;//40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-column-gap: 1.429em;//20px;

  @media (max-width: 762px) {
    grid-template-columns: auto;
    grid-template-areas: 
                          "a a"
                          "b c"
                          "d d";
    grid-row-gap: 1.429em;

    &__container {
      &_search{
        grid-area: a;
      }
      &_calendar {
        grid-area: b;
      }
      &_status {
        grid-area: c;
        
      }
      &_type {
        grid-area: d;
      }
    }
  }

  &__box_type {
    display: inline-flex;
    column-gap: 0.714em;//10px;
  }
}

.content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

.control {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

