@import '../../styles/colors.scss';

.search-tasks {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-column-gap: 2rem;//20px;

  @media (max-width: 762px) {
    grid-template-columns: auto;
    grid-template-areas: "a a" "b c" "d d";
    grid-row-gap: 2rem;

    .search__container_search {
      grid-area: a;
    }

    .search__container_date {
      grid-area: c;
    }
    .search__container_status {
      grid-area: b;
    }
    .search__container_type {
      grid-area: d;
    }
  }
}

.content-tasks {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
