<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>UI kit</title>
</head>
<body>
  <section>
    <h1>Кнопки</h1>
    <div class="blocks">
      <div class="block">
        <span class="date__text">Normal</span>
        <button class="button button__new-task button_big">
          <img class="button__icon" src="../assets/icons/new-task__icon.svg" alt="">
          <span class="button__text">Новая задача</span>
        </button>
        <button class="button button__publish button_big">
          <img class="button__icon" src="../assets/icons/approve_icon.svg" alt="">
          <span class="button__text">Утвердить и опубликовать</span>
        </button>
        <button class="button button__edit-big">
          <svg class="button__icon">
            <use xlink:href="src/assets/icons/icons.svg#edit"></use>
          </svg>
        </button>
        <button class="button button__edit-small">
          <svg class="button__icon">
            <use xlink:href="../assets/icons/icons.svg#edit"></use>
          </svg>
        </button>
        <button class="button button__back button_small">
          <img class="button__icon" src="../assets/icons/back.svg" alt="">
          <span class="button__text">К списку задач</span>
        </button>
        <button class="button button__delete button_small">
          <img class="button__icon" src="../assets/icons/delete-icon.svg" alt="">
          <span class="button__text">Удалить</span>
        </button>
        <button class="button button__clear">
          <svg class="button__icon"  width="10" height="10">
            <use xlink:href="../assets/icons/icons.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="block">
        <span class="date__text">Disabled</span>
        <button class="button button__new-task button_big" disabled>
          <img class="button__icon" src="../assets/icons/new-task__icon.svg" alt="">
          <span class="button__text">Новая задача</span>
        </button>
        <button class="button button__publish button_big" disabled>
          <img class="button__icon" src="../assets/icons/approve_icon.svg" alt="">
          <span class="button__text">Утвердить и опубликовать</span>
        </button>
        <button class="button button__edit-big" disabled>
          <svg class="button__icon">
            <use xlink:href="../assets/icons/icons.svg#edit"></use>
          </svg>
        </button>
        <button class="button button__edit-small" disabled>
          <svg class="button__icon">
            <use xlink:href="../assets/icons/icons.svg#edit"></use>
          </svg>
        </button>
        <button class="button button__back button_small" disabled>
          <img class="button__icon" src="../assets/icons/back.svg" alt="">
          <span class="button__text">К списку задач</span>
        </button>
        <button class="button button__delete button_small" disabled>
          <img class="button__icon" src="../assets/icons/delete-icon.svg" alt="">
          <span class="button__text">Удалить</span>
        </button>
      </div>
    </div>
    <div class="player-buttons">
      <button class="player-button__back">
        <!-- <svg class="button__icon">
          <use xlink:href="../assets/icons/icons.svg#player-back"></use>
        </svg> -->
      </button>
    </div>

  </section>
  <section>
    <h2>Пункты меню</h2>
    <ul class="nav">
      <li class="nav-item">
        <button class="button btn-nav button_small">
          <span class="button__text">Задачи</span>
        </button >
      </li>
    </ul>
  </section>
  <section>
    <h2>Уведомления</h2>
      <div class="block">

      </div>
      <div class="notification">
        <img class="notification__icon" src="../assets/icons/notification-message.svg" alt="">
        <div class="message">
          <span>Новый комментарий в задаче <span class="task-name">Новая задача</span></span>
          <span class="date__text">14.02.2020, 08:51</span>
        </div>
      </div>

  </section>
  <section>
    <h2>Профиль</h2>
    <div class="profile">
      <img class="profile__img" src="../assets/profile/c1eea7f644a09ee80f44cb27617d95b2.png" alt="">
      <img src="../assets/icons/arrow.svg" alt="">
    </div>
  </section>
  <section>
    <h2>Карточка контента</h2>
    <article class="content">
      <img class="content__img" src="../assets/img/8e1c7c302c898a30e132064c98a251a9.jfif" alt="">   
      <div class="content__type">
        <svg class="content__type">
          <use xlink:href="/src/assets/icons/icons.svg#video"></use>
        </svg>
        <span>Видео</span>
        <span class="duration">02:31</span>
      </div>
      


      <span>Название повседневная практика показывает</span>
      <div class="date__text">
        <span>Аркадий Юрченко</span>
        <img class="separator" src="../assets/icons/Ellipse7.svg" alt="">
        <time>14.02.2020, 09:21</time>
      </div>

            
      
    </article>
  </section>
  <section>
    <h2>Карточка задачи/пользователя</h2>
    <!-- <div class="task">
      <span>Название повседневная практика показывает</span>
            
      
    </div> -->
  </section>
  <section>
    <h2>Фильтр — тип контента</h2>
    <div class="block">
      <button class="button btn-video button_small">
        <svg class="button__icon">
          <use xlink:href="../assets/icons/icons.svg#video"></use>
        </svg>
        <span class="button__text">Видео</span>
      </button>
      <button class="button btn-photo button_small">
        <svg class="button__icon">
          <use xlink:href="../assets/icons/icons.svg#photo"></use>
        </svg>
        <span class="button__text">Фото</span>
      </button>
      <button class="button btn-audio button_small">
        <svg class="button__icon">
          <use xlink:href="../assets/icons/icons.svg#audio"></use>
        </svg>
        <span class="button__text">Аудио</span>
      </button>
    </div>
  </section>
  <section>
    <h2>Инпуты</h2>
    <div class="form">
      <label class="form__label">Имя, фамилия</label>
      <input class="form__input" placeholder="Введите имя и фамилию">
    </div>
  </section>
  <section>
    <h2>Поиск</h2>
    <div class="search">
      <label class="form__label">Поиск</label>
      <input class="form__input" placeholder="Введите название имя исполнителя">
    </div>
  </section>
  <section>
    <h2>Выбор даты</h2>
    <div class="form calendar">
      <label class="form__label">Дата публикации</label>
      <input class="form__input" type="date" name="trip-start" value="" placeholder="Укажите дату публикации">
      
    </div>
  </section>
  <section>
    <h2>Селекты</h2>
    <select class="form-select form-select-large">
      <option disabled selected hidden>Выберите ответственного</option>
      <option value="1">Альбина Ткаченко</option>
      <option value="2">София Мельник</option>
    </select>

    <select class="form-select form-select-small status">
      <!-- <div class="selector"> -->
        <option disabled selected hidden>Выберите статус</option>
        <option class="" value="all">Любой</option>
        <option class="selector status__work" value="work">В работе</option>
        <option class="selector status__await" value="await">Ожидает согласования</option>
        <option class="selector status__done" value="done">Выполнено</option>
      <!-- </div> -->
     </select>
  </section>
</body>
</html>