.card__tasks {
  &-wrapper {
    display: grid;
    grid-template-columns: 52rem 55rem 8rem;
    align-items: center;
    color: $txt;
    background: $white;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-self: center;
    grid-template-rows: repeat(1, 7rem);

    @include outline(1px, $blue-outline, 4px);

    &:hover {
      box-shadow: 0 4px 15px rgba($black, 0.15);
    }

    &__content {
      display: grid;
      grid-template-columns: 6rem 47rem;
    }
  }

  &-descr,
  &-buttons {
    display: flex;
    align-items: center;
  }

  &-buttons {
    justify-content: flex-end;
  }

  &-descr {
    &__text {
      margin-left: 2rem;
      position: absolute;
      left: 23rem;

      @include font(1.4rem, 500, 1.6rem);
    }
  }

  &-status {
    display: grid;
    grid-template-columns: 13rem 15rem 19.5rem;

    &__auth { z-index: 2; }

    &__text {
      margin-left: 4rem;
    }

    &__due {
      position: relative;
      margin-left: 5.6rem;

      &::after {
        content: '';
        width: 1.5rem;
        height: 1.4rem;
        background: url('../../../public/img/icons/calendar-gray.svg');
        position: absolute;
        top: -0.3rem;
        left: -2rem;
      }
    }
  }

  &-button + .card__tasks-button {
    margin-left: 1.5rem;
  }
}

.gradientText {
  display: block;
  position: absolute;
  text-align: right;
  height: 1.5rem;
  width: 40%;
  left: 60%;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 60%);
  z-index: 1;
}
