
/* Notification */
.notification__button {
  padding: 8px 9px;
  background: transparent;
  border: none;
  position: relative;

  &:focus { background: $blue-outline; }

  &:hover,
  &:focus { @include outline(1px, $blue-outline, 4px); }

  &-text {
    padding: 1px 4px;
    position: absolute;
    top: 4%;

    @include outline(2px, $white, 50%);

    background-color: $red;
    border-radius: 50%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: $white;
    transform: translateY(-4%);
  }
}

/* Dropdown */

.dropdown {
  position: relative;
  display: flex;

  &__content {
    width: 334px;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba($black, 0.25);

    @include outline(1px, $blue-outline, 4px);

    &--avatar {
      width: 88px;
      top: 20px;
      right: -15px;
      text-align: right;
    }

    &--show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content-item {
    padding: 12px 14px;
    display: block;
    color: inherit;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover,
    &:focus {
      background: $itblue;
    }

    &--status {
      &:nth-child(2) { color: $inwork; }
      &:nth-child(3) { color: $wait; }
      &:nth-child(4) { color: $done; }
    }
  }

  &__content-link {
    color: inherit;
  }
}

.simplebar {
  &-scrollbar::before {
    height: 102px;
    background: $gray-blue-icon;
    border-radius: 21px;
    width: 4px;
    margin: 0 auto;
    opacity: 1;
  }
}

/* Select */

.select {
  display: flex;
  align-items: center;

  &__text {
    width: 334px;
    padding: 12px 15px;
    position: relative;
    background: transparent;
    background: $white;

    @include outline(1px, $blue-outline, 4px);

    &::after {
      content: '';
      width: 6px;
      height: 4px;
      background: url("../images/icons/arrow-down.svg");
      position: absolute;
      top: 45%;
      right: 20px;
    }

    &:focus.select__text::after {
      transform: rotate(180deg);
      transition: rotate 0.3s ease-in-out;
    }

    &:hover { border-color: $gray-blue-icon; }

    &:focus {
      border-color: $blue;
      caret-color: transparent;
    }

    &--status {
      width: 187px;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
  }

  &__dropdown-content {
    width: 334px;
    max-height: 274px;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba($black, 0.25);
    transform: translate(-100%, 20px);

    @include outline(1px, $blue-outline, 4px);

    &--status {
      width: 186px;
      transform: translate(-100%, 20px);
    }
  }

  &__dropdown-content__item {
    padding: 12px 14px;
    display: block;
    color: inherit;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover,
    &:focus {
      background: $itblue;
    }

    &--status {
      &:nth-child(2) { color: $inwork; }
      &:nth-child(3) { color: $wait; }
      &:nth-child(4) { color: $done; }
    }
  }
}

/* Input */

.input__block {
  display: flex;
  align-items: center;

  &-button {
    border: none;
    background: transparent;

    &--close {
      position: absolute;
      top: 30%;
      right: 20px;
    }
  }

  &-icon {
    border: none;
    background: transparent;
  }

  &-text {
    width: 394px;
    padding: 12px 15px;
    position: relative;
    background: transparent;
    background: $white;

    @include outline(1px, $blue-outline, 4px);

    &::after {
      content: '';
      width: 6px;
      height: 4px;
      background: url("../images/icons/arrow-down.svg");
      position: absolute;
      top: 45%;
      right: 20px;
    }

    &:focus.input__block-text::after {
      transform: rotate(180deg);
      transition: rotate 0.3s ease-in-out;
    }

    &:hover { border-color: $gray-blue-icon; }

    &:focus {
      border-color: $blue;
      caret-color: transparent;
    }

    &--empty { border-color: $red; }

    &--search {
      &:focus {
        caret-color: $txt;
        padding-left: 40px;
        color: inherit;

        &::placeholder {
          color: transparent;
          transition: color 0.3s ease-in-out;
        }
      }

      &:focus.icon--close {
        fill: $gray-blue-icon;
      }
    }

    &--select {
      width: 334px;
    }

    &--status {
      width: 187px;
    }
  }

  &-label {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
  }

  &-box {
    position: relative;
    margin-right: 20px;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    &--search {
      &::after {
        width: 12px;
        height: 13px;
        background: url("../images/icons/search-icon.svg");
        top: 30%;
        transform: translate(-30px);
        transition: transform 0.2s ease-in-out;
      }

      &:focus-within.input__block-box--search::after {
        transform: translate(-380px);
        transition: transform 0.2s ease-in-out;
      }

      &:focus-within.icon--close {
        fill: $gray-blue-icon;
        position: absolute;
        cursor: pointer;
      }

      &:focus { @include outline(1px, $blue, 4px); }
    }

    &--calendar {
      &::after {
        width: 15px;
        height: 14px;
        background: url("../images/icons/calendar.svg");
        right: 20px;
      }
    }
  }
}

/* Content */

.content__box {
  &--video {
    color: $blue;
  }

  &--audio {
    color: $yellow-audio;
  }

  &--photo {
    color: $green;
  }

  &-text {
    font-weight: 500;
  }

  &--photo,
  &--video,
  &--audio {
    &:focus .content__box-text {
      color: $white;
    }
  }
}

/* === Buttons === */

.btn__kit {
  padding: 12px 15px;
  display: flex;
  border-radius: 4px;
  align-items: center;

  &--blue {
    background: $blue;

    &:hover { background: $blue-btn-hover; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:disabled { background: rgba($blue, 0.5); }
  }

  &--green {
    background: $green;

    &:hover { background: $green-hover; }

    &--active,
    &:focus { background: $green-active; }

    &:disabled { background: rgba($green, 0.5); }
  }

  &--trans {
    &:hover { background: $itblue; }

    &--active,
    &:focus { background: $itblue-active; }

    &:disabled { opacity: 0.3; }
  }

  &--red {
    &:hover { background: $red-hover; }

    &--active,
    &:focus { background: $red-active; }

    &:disabled { opacity: 0.3; }
  }

  &--edit {
    padding: 10px;
    background: $blue;

    &:hover { background: $blue-btn-hover; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:disabled { background: rgba($blue, 0.5); }
  }

  &--edit-small {
    padding: 6px;
    background: $itblue;

    &:hover { background: $blue-btn-hover; }

    &:hover .icon--edit-small { fill: $white; }

    &--active,
    &:focus { background: $blue-btn-active; }

    &:focus .icon--edit-small { fill: $white; }

    &:disabled { background: rgba($itblue, 0.3); }

    &:disabled .icon--edit-small { fill: rgba($blue, 0.3); }
  }

  &-text {
    padding-left: 10px;
    color: $white;
    font-weight: 500;

    &--trans {
      color: $blue;
    }

    &--red {
      color: $red;
    }
  }
}

/* Calendar */

.calendar {
  position: relative;

  &__wrapper {
    padding: 19px 20px;
    background: $white;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: -388px;

    @include outline(1px, $blue-outline, 4px);

    box-shadow: 0 4px 15px rgba($black, 0.15);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  &__title-text {
    font-size: inherit;
    font-weight: 500;
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__buttons {
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: -4px;
    }

    &--btnPrev {
      &::after {
        right: 30px;
        background: url('../images/icons/btn-prev.svg') no-repeat center;
      }
    }

    &--btnNext {
      &::after {
        background: url('../images/icons/btn-next.svg') no-repeat center;
      }
    }
  }

  &__nameOfWeek,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 15px;
    text-align: center;
  }

  &__nameOfWeek {
    margin-bottom: 15px;
    grid-template-rows: repeat(1, 1fr);
  }

  &__days {
    grid-template-rows: repeat(5, 1fr);
  }

  &__days-item__num {
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;

    &:hover { color: $blue; }

    &:focus,
    &--active {
      padding: 6px;
      background: $blue;
      color: $white;
    }

    &--today { background: $itblue; }
  }

  &__weekName {
    font-size: 12px;
    line-height: 14px;
    color: rgba($txt, 0.7);
  }
}

.cards__user {
  &-item {
    display: flex;
    justify-content: space-between;

    @include outline(1px, $blue-outline, 4px);

    &:hover {
      box-shadow: 0 4px 15px rgba($black, 0.15);
    }
  }
}

.player__controls {
  &-wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    width: 40px;
    height: 30px;
    background: $black;
  }
}

/* Load */

.load {
  &__wrapper {
    width: 425px;
    height: 180px;
    padding: 30px;

    @include outline(1px, $blue-outline, 4px);
  }

  &__wrapper-descr {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
  }

  &__text {
    margin-right: 8px;
    color: rgba($txt, 0.6);
  }

  &__types {
    display: flex;
    align-items: center;

    &-icon + .load__types-icon {
      margin-left: 5px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &-progress {
      width: 96px;
      height: 3px;
    }
  }

  &__content-value {
    font-size: 12px;
    line-height: 14px;
    color: $blue;
    text-align: center;
  }

  &__content-border {
    width: 116px;
    height: 74px;
    padding: 3px;

    @include outline(1px, $blue-outline, 4px);

    &--progress {
      padding: 25px 10px;
    }

    &--add {
      padding: 27px 48px;
      border-style: dashed;
      border-width: 2px;
    }

    &:hover.load__content-border--add {
      border-color: $blue;
    }
  }

  &__content-item {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .icon--plus {
      fill: $blue;
    }
  }
}
