block notifications 
    div#root


















                    

    //-  <div class="block">
    //-     <div class="task-block task-block--hover">
    //-         <div class="task-block__img">
    //-             <img src="./img/UIKit/comment-task.svg" alt="">
    //-         </div>
    //-         <div class="task-block__content">
    //-             <p class="task-block__title">Новый комментарий в задаче
    //-             <span class="task-block__name"> Название задачи</span>
    //-             </p>
    //-             <span class="task-block__data">09:51 14.02.2020</span>
    //-         </div>
    //-     </div>
    //-     <div class="task-block--hover">
    //-         <div class="task-block__img">
    //-             <img src="./img/UIKit/comment-task.svg" alt="">
    //-         </div>
    //-         <div class="task-block__content">
    //-             <p class="task-block__title">Новый комментарий в задаче<span class="task-block__name"> Название задачи</span></p>
    //-             <span class="task-block__data">14.02.2020, 08:51</span>
    //-         </div>
    //-     </div>
    //-  </div>

