extends  ../layout/main
block variables
  -
    const items = [
                  {img: "1.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", time: "2:31", type: "video", typeText: "Видео"},
                  {img: "2.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", type: "photo", typeText: "Фото"},
                  {img: "3.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", time: "2:31", type: "audio", typeText: "Аудио"},
                  {img: "4.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", type: "photo", typeText: "Фото"},
                  {img: "5.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", time: "2:31", type: "video", typeText: "Видео"},
                  {img: "6.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", type: "photo", typeText: "Фото"},
                  {img: "3.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", time: "2:31", type: "audio", typeText: "Аудио"},
                  {img: "2.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020",  type: "photo", typeText: "Фото"},
                  {img: "1.jpg", altText: "Видео - скалистый берег", text: "Название повседневная практика показывает", author: "Аркадий Юрченко", date: "09:21 14.02.2020", time: "2:31", type: "video", typeText: "Видео"}
                ]
    const btns = [
      {type: "video", typeText: "Видео"},
      {type: "photo", typeText: "Фото"},
      {type: "audio", typeText: "Аудио"},
    ]
block nav 
  +navigation("nav", ["Главная", "Задачи", "Пользователи"], 0)

block cards
  include ../mixins/createCards
  +cards("card", items)
    block contentType
  