.channels {
  margin: 27px 0 72px 0;

  &__container {
    max-height: 696px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $color-gray-second;
    border-radius: 2px;

    &-thumb {
      background-color: $scroll-bar-color;
      border: 2px solid $color-gray-second;
      border-radius: 4px;

      &:hover {
        background-color: $color-gray;
      }
    }
  }
}

.channel {
  line-height: 19px;
  display: flex;
  align-items: center;
  min-height: 162px;
  background-color: $color-gray-second;
  border-radius: 8px;
  padding: 21px 0 19px;
  margin: 0 8px 16px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  &__img {
    height: 100%;
    max-height: 80px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include font_config(normal, 500, 20px, 23.7px);
    padding-bottom: 11px;
  }

  &__broadcast {
    display: flex;
    padding: 6px 0;

    &:last-child {
      padding-bottom: 0;
    }

    &_active {
      color: $color-red;
    }
  }

  &__time {
    padding-right: 20px;
  }
}
