@import '../../common';

.inputBox {
    &Title {
        color: $color-black;
        font-family: 'RM';
        font-size: $font-size12;
        margin-bottom: 9px;
    }

    &Input {
        background: $color-white;
        border: 1px solid $color-blue-outline;
        border-radius: 4px;
        font-family: 'RR';
        font-size: $font-size14;
        height: 40px;
        padding: 0 15px;

        &Hovered:hover {
            border: 1px solid $color-grey-blue;
            transition: $delay-time;
        }

        &Focused:focus {
            border: 1px solid $color-blue;
            transition: $delay-time;
        }
    }
}

.error {
    border: 1px solid $color-red;
}
