@import '../../styles/colors.scss';

.button-new-task,
.button-login,
.button-home,
.button-save {
  display: flex;
  align-items: center;
  
  background: $blue;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
  }

  &__img {
    padding-right: 0.714em;
  }

  .button-new-task__img {
    width: 1em;
    height: 1em;
  }

  .button-login__img,
  .button-home__img,
  .button-save__img {
    width: 1.8rem; //1.286em;
    height: 1.8rem; //1.286em;
  }
}

.button-confirm {
  display: flex;
  align-items: center;
  background: $green;

  &:hover {
    background: $green-hover;
  }

  &:active {
    background: $green-active;
  }

  &__img {
    width: 1.286em;
    height: 1.286em;
    padding-right: 0.714em;
  }
}

.button-download {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.2rem;
  background: white;

  .button__text {
    color: $blue;
  }

  &:hover {
    background: $ltblue;
  }

  &:active {
    background: $mdblue;
  }

  &__img {
    width: 1.4rem; //1.286em;
    height: 1.4rem; //1.286em;
    padding-right: 1rem; //0.714em
  }
}

.button-delete {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.2rem;
  background: white;

  .button__text {
    color: $red;
  }

  &:hover {
    background: $ltred;
  }

  &:active {
    background: $mdred;
  }

  &__img {
    width: 1.3rem; //1.286em;
    height: 1.6rem; //1.286em;
    padding-right: 1.1rem; //0.714em
    fill: $red;
    stroke: $red;
  }
}
