@import '../../common';

.inputBox {
    &Title {
        color: $color-black;
        font-family: 'RM';
        font-size: $font-size12;
        margin-bottom: 9px;
    }

    &Wrap {
        position: relative;

        &Input {
            background: $color-white;
            border: 1px solid $color-blue-outline;
            border-radius: 4px;
            font-family: 'RR';
            font-size: $font-size14;
            height: 40px;
            padding: 0 42px 0 15px;

            &Hovered:hover {
                border: 1px solid $color-grey-blue;
                transition: $delay-time;
            }

            &Focused:focus {
                border: 1px solid $color-blue;
                transition: $delay-time;
            }
        }

        &ButtonVisibility {
            background: url(/public/images/new_user/visible-icon.svg) center no-repeat;
            height: 15px;
            position: absolute;
            right: 13px;
            top: 12px;
            width: 22px;
        }

        &ButtonHidden {
            background: url(/public/images/new_user/not-visible-icon.svg) center no-repeat;
            height: 15px;
            position: absolute;
            right: 13px;
            top: 12px;
            width: 22px;
        }
    }
}

.error {
    border: 1px solid $color-red;
}
