@import '../../common';

.button {
    align-items: center;
    align-self: flex-start;
    background: $color-lite-blue;
    border-radius: 4px;
    color: $color-blue;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    height: 34px;
    padding: 11px 15px 11px 13px;
    position: relative;
    transition: $delay-time;

    &Hovered:hover {
        background: $color-hovered;
        color: $color-white;
        transition: $delay-time;
    }

    &Actived:active {
        background: $color-blue-actived;
        transition: $delay-time;
    }

    &Text {
        align-items: center;
        display: flex;
        font-family: 'RM';
        font-size: $font-size14;

        &::before {
            align-items: center;
            background: $color-blue;
            border-radius: 50%;
            content: url(/public/images/UI_Kit/buttons/paper-clip-white.svg);
            display: flex;
            height: 18px;
            justify-content: center;
            margin-right: 8px;
            transition: $delay-time;
            width: 18px;
        }
    }

    &Input {
        height: 0.1px;
        opacity: 0;
        position: absolute;
        width: 0.1px;
        z-index: -10;
    }
}
