include ../base/base
include ../../components/header/header
include ../../components/control/control
include ../../components/feed/feed
include ../../components/loader/loader
include ../../components/lightbox/lightbox

+header(adminViews, 0)

main.main
  .container.feed
    ul.control__list.grid
      +control("search")
      +control("calendar")
      +control("type")

    +card(items)

    +loader

    +lightbox(items, 0)
