@import '../../styles/color.scss';
@import '../../styles/common.scss';

.loader {
    display: block;
    margin-top: 250px;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border: 5px solid rgba(25, 113, 247, 0.6);
    border-radius: 50%;
    border-left-color: $blue;
    animation: loader 1.3s linear infinite;
 }

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}


.info {

    &__search-title {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
    }
}


.hide {
    display: none;
}

.loader-container {
    margin-top: 250px;
}

.isLoader {
    // display: block;
    // margin: auto;
    // width: 3.57rem;
    // height: 3.57rem;
    // margin: 0 auto;
    // border: 5px solid rgba(25, 113, 247, 0.6);
    // border-radius: 50%;
    // border-left-color: #107EFF;
    // animation: loader 1.3s linear infinite;
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 0.75em solid #FF6B6B;
    border-top-color: #4ECDC4; 

    animation: 3s infinite isLoader;
}

@keyframes isLoader {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}