.filter {
  position: relative;

  &-wrapper {
    width: 100%;
    display: flex;
    padding-top: 4rem;

    &-tags { position: relative; }
  }

  &__label {
    position: absolute;
    top: -1.8rem;
    left: 0;

    @include font(1.2rem, 500, 1.4rem);
  }

  &__btn {
    padding: 1.1rem 1.5rem;
    background: $white;

    &:not(:first-child) { margin-left: 1rem; }

    &--photo,
    &--video,
    &--audio { &:focus .content__box-text { color: $white; } }

    &--video {
      color: $blue;

      @include outline(1px, $blue, 4px);

      &:hover { background: rgba($blue, 0.1); }

      &:focus { background: $blue; }

      &:focus .content__box-text { color: $white; }

      &:focus .icon--video { fill: $white; }
    }

    &--audio {
      color: $yellow-audio;

      @include outline(1px, $yellow-audio, 4px);

      &:hover { background: rgba($yellow-audio, 0.1); }

      &:focus { background: $yellow-audio; }

      &:focus .content__box-text { color: $white; }

      &:focus .icon--audio { fill: $white; }
    }

    &--photo {
      color: $green;

      @include outline(1px, $green, 4px);

      &:hover { background: rgba($gray-line, 0.1); }

      &:focus { background: $green; }

      &:focus .icon--photo { fill: $white; }
    }

    &--active.filter__btn--video {
      background: $blue;
    }

    &--active.filter__btn--photo {
      background: $green;
    }

    &--active.filter__btn--audio {
      background: $yellow-audio;
    }

    &--active.filter__btn--video .content__box-text,
    &--active.filter__btn--photo .content__box-text,
    &--active.filter__btn--audio .content__box-text { color: $white; }

    &--active.filter__btn--video .icon--video,
    &--active.filter__btn--photo .icon--photo,
    &--active.filter__btn--audio .icon--audio { fill: $white; }

    &--active &--photo {
      background: $green;
    }

    // &--active &--audio {
    //   background: $yellow-audio;
    // }
  }
}

.filter-hide { display: none; }
