include ../../components/header/header
include ../../components/media-button/media-button
include ../../components/input/input
include ../../components/select/select
include ../../components/files/files
include ../../components/button-with-text/button-with-text

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../../../public/img/icons/logo.svg" type="image/svg")
    title Выпускная работа
  body 
    +header('admin', 3)
    main.main
      .container
        .nav
          .nav__back 
            +media-button("back")
            p.content__title.nav__title К списку задач
        .content 
          section.content__main 
            .card-task
              +select-type
              p.label Заголовок
              input(type="text", name="name" placeholder="Введите заголовок задачи")
              p.label Описание
              textarea(placeholder="Опишите требования")
              .card-task__select-file
                +file-select('zip', 'Материалы.zip', '61 Мб', 1)
              +button-with-text("attach")
          aside.content__aside
            +input('calendar', 'Срок выполнения', 'Укажите дату', 'dateCreate')
            +select-user-author 
            +select-user-executor
        +button-with-text('save-task')
