.media-button {
  background: none;
  border: none;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;

  .media-button__img_normal {
    display: inline-block;
  }

  .media-button__img_active {
    display: none;
  }

  &_active {
    .media-button__img_normal {
      display: none;
    }

    .media-button__img_active {
      display: inline-block;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.media-button-back {
  &__img {
    width: 2.3rem; //1.643em;
    height: 0.9rem; //0.643em;
    stroke: white;
  }
}

.media-button-play {
  &__img {
    fill: white;
    
    &_normal {
      width: 0.643em;
      height: 0.857em;
    }
    
    &_active {
      width: 0.643em;
      height: 0.857em;
    }
  }
}

.media-button-volume {
  &__img {
    fill: white;
    width: 1.357em;
    height: 1.071em;
  }
}

.media-button-screen {
  &__img {
    fill: white;
    width: 1.143em;
    height: 1.143em;
  }
}