@import '../../styles/colors.scss';

.filter {
  display: inline-block;

  &__button {
    padding: 0.757em 1.071em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0.286em;
    cursor: pointer;
  
    &_video {
      border: 1px solid $blue;
  
      &:hover {
        background: rgba(16, 126, 255, 0.1);
      }
    }
  
    &_photo {
      border: 1px solid $green;
  
      &:hover {
        background: rgba(67, 221, 156, 0.1);
      }
    }
  
    &_audio {
      border: 1px solid $yellow;
  
      &:hover {
        background: rgba(255, 172, 47, 0.1);
      }
    }
  }

  &__input {
    display: none;

    &:checked {
      & ~ .filter__button {
        .type__img {
          fill: white;
        }

        .type__text {
          color: white;
        }
      }

      & ~ .filter__button_video {
        background: $blue;
        border: 1px solid $blue;
      }

      & ~ .filter__button_photo {
        background: $green;
        border: 1px solid $green;
      }

      & ~ .filter__button_audio {
        background: $yellow;
        border: 1px solid $yellow;
      }
    }
  }
}