@import '../../styles/colors.scss';

.filter {
  display: inline-block;

  &__button {
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0.4rem;
    cursor: pointer;
  
    &_video {
      border: 1px solid $blue;
  
      &:hover {
        background: rgba(16, 126, 255, 0.1);
      }
    }
  
    &_photo {
      border: 1px solid $green;
  
      &:hover {
        background: rgba(67, 221, 156, 0.1);
      }
    }
  
    &_audio {
      border: 1px solid $yellow;
  
      &:hover {
        background: rgba(255, 172, 47, 0.1);
      }
    }
  }

  &-role__button {
    border: 1px solid $outline;
    font-weight: 400;
    white-space: nowrap;
  }

  &__input {
    display: none;

    &:checked {
      & ~ .filter__button {
        .type__img {
          fill: white;
        }

        .type__text {
          color: white;
        }
      }

      & ~ .filter__button_video {
        background: $blue;
        border: 1px solid $blue;
      }

      & ~ .filter__button_photo {
        background: $green;
        border: 1px solid $green;
      }

      & ~ .filter__button_audio {
        background: $yellow;
        border: 1px solid $yellow;
      }

      & ~ .filter-role__button {
        background: $blue;
        color: white;
        border-color: $blue;
      }
    }
  }
}

.search__box-filter {
  display: inline-flex;
  column-gap: 1rem;//10px;
  row-gap: 1rem;

  &-role {
    flex-wrap: wrap;
  }
}