@import '../../styles/reset.scss';

.content {
  width: 100%;
  max-width: 34.643em; //425px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.143em; //0 30px;
  box-sizing: border-box;

  &__img {
    margin-bottom: 2.857em; //40px;
    width: 100%;
  }

  &__title {
    margin-bottom: 0.714em; //10px;
  }

  &__text {
    margin-bottom: 2.143em; //30px;
    text-align: center;
  }
}
