@import '../../styles/variables';
@import '../../styles/mixins';

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.loader {
  background-image: url('../../../public/img/icons/loader.png');
  animation: rotate 1s linear infinite;
  height: 36px;
  width: 36px;
  position: relative;
  margin: 0 auto;
}
