@import '../../styles/variables';
@import '../../styles/mixins';

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotate 1s linear infinite;
  background: $color-primary;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: relative;
  margin: 0 auto;
  display: none;

  &_filtration {
    text-align: center;
    position: absolute;
    left: 48%;
    top: 30%;
    display: block;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    border-radius: 50%;

    background:
      linear-gradient(0deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%,
      linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%,
      linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
      linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%;

    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
  }

  &::after {
    background: $color-light;
    border-radius: 50%;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
  }
}
