.input {
  @include font_config(normal, 400, 1.4rem, 1.6rem);

  outline: none;
  width: 393px;
  padding: 12px 15px;
  background: $color-light;
  background-repeat: no-repeat;
  background-position: center right 15px;
  border: 1px solid $color-blue-outline;
  border-radius: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &-sm {
    width: 187px;
  }

  &_date {
    background-image: url('../../../public/img/icons/calendar-icon.svg');
  }

  &_arrow {
    padding-right: 25px;

    &::after {
      content: '';
      display: inline-block;
      height: 4px;
      width: 6px;
      background-image: url('../../../public/img/icons/arrow_down-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 15px;
      top: 18px;
    }

    &:focus::after {
      transform: rotate(180deg);
    }
  }

  &_close {
    position: absolute;
    top: 38px;
    right: 0;
    padding-right: 15px;
    visibility: hidden;
    opacity: 0;
  }

  &_search {
    padding-right: 35px;

    &-icon {
      position: absolute;
      top: 38px;
      right: 0;
      padding-right: 15px;
    }

    &:focus {
      ~ .input_close {
        visibility: visible;
        opacity: 1;
        transition: all 0.6s ease;
      }

      ~ .input_search-icon {
        position: absolute;
        padding-left: 15px;
        left: 0;
        transition: all 0.2s ease;
      }

      &.input_search {
        padding-left: 38px;
      }
    }
  }

  &:hover {
    border-color: $color-blue-icon;
  }

  &:focus {
    border-color: $color-primary;
  }

  &::placeholder {
    color: $color-opacity-txt;
  }
}
