@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #c8d8ed;

  &__left {
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;

    &__container_active {
      width: 78px;
      height: 34px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8f3ff;
      text-decoration: none;

      &__page {
        color: #107eff;
        text-decoration: none;
      }
    }

    &__container_normal {
      width: 78px;
      height: 34px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__page {
        background-color: #fff;
        color: #313131;
        text-decoration: none;
      }
    }
  }

  &__right {
    position: relative;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__user {
      width: 173px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__name {
        font-weight: 400;
      }

      &__container {
        width: 40px;
        height: 40px;

        &__img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}

.main-section {
  height: 100%;
  background-color: #f3f8fb;
}

.filter-section {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  width: 1219px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container {
  width: 393px;

  &__lable {
    font-size: 12px;
    color: #313131;
    font-weight: 500;
  }

  &__form {
    width: 373px;
    margin-top: 9px;

    &__input {
      width: 100%;
      height: 40px;
      border: 1px solid #d8e3ec;
      font-size: 14px;
      font-weight: 400;
      color: #313131;
      padding-left: 15px;
    }
  }

  &__buttons {
    margin-top: 9px;
    width: 266px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__video {
      width: 84px;
      height: 40px;
      border: 1px solid #107eff;
      border-radius: 4px;
      background-color: #fff;
      color: #107eff;
      font-weight: 500;
    }

    &__photo {
      width: 84px;
      height: 40px;
      border: 1px solid #43dd9c;
      border-radius: 4px;
      background-color: #fff;
      color: #43dd9c;
    }

    &__audio {
      width: 84px;
      height: 40px;
      border: 1px solid#FFAC2F;
      border-radius: 4px;
      background-color: #fff;
      color: #ffac2f;
    }
  }
}
