html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %roboto-400;
  font-size: 14px;
  color: $color-text;
  line-height: 16px;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1242px;
  margin: 0 auto;
  padding: 0 10px;
}
