$color1: #107eff;
$photo: #43dd9c;
$photo-hover: #51efac;
$photo-active: #33cd8c;
$audio: #ffac2f;
$color-text: #313131;
$text-opacity: rgba(49, 49, 49, .6);
$color4: #d8e3ec;
$color5: #95aecd;
$color6: #e8f3ff;
$color7: #ff603e;
$color-bg: #f3f8fb;

$color8: #d663ff;
$color9: #2cccff;
$color10: #97dc26;
$color11: #308fff;
$color12: #0067df;

%roboto-500{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%bt-content {
  @extend %roboto-500;
  font-size: 14px;
}

%label {
  @extend %roboto-500;
  font-size: 12px;
}

%uploader {
  @extend %roboto-400;
  font-size: 12px;
  opacity: 0.6;
}

%data-time {
  @extend %roboto-400;
  font-size: 12px;
  opacity: 0.6;
}

h1 {
  @extend %roboto-500;
  font-size: 24px;
}

h2 {
  @extend %roboto-500;
  font-size: 20px;
}

h3 {
  @extend %roboto-500;
  font-size: 16px;
}

%search-input {
  max-width: 393px;
  max-width: 100%;
  padding: 12px 35px 12px 15px;
  border: 1px solid $color4;
  border-radius: 4px;
  transition: all .3s;
  outline: none;
  background-repeat: no-repeat;
  background-position: center right 13px;
}

.bell-icon {
  width: 20px;
  height: 24px;
}

.audio-icon {
  fill: $audio;
  width: 10px;
  height: 9px;
}

.video-icon {
  fill: $color1;
  width: 10px;
  height: 9px;
}

.photo-icon {
  fill: $photo;
  width: 10px;
  height: 9px;
}

.plas-icon {
  width: 14px;
  height: 14px;
}

.plas-gray {
  width: 14px;
  height: 14px;
  fill: $color5;
}

.calendar-icon-gray {
  width: 15px;
  height: 14px;
}

.arrow-left {
  fill: $color1;
  width: 50px;
  height: 20px;
}

.upload-icon {
  width: 12px;
  height: 12px;
}

.doc-icon {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.zip-icon {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.avi-icon {
  width: 30px;
  height: 16px;
}

.flv-icon {
  width: 30px;
  height: 16px;
}

.mov-icon {
  width: 37px;
  height: 16px;
}

.edit-icon {
  padding: 7px;
  background: $color6;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  transition: all .3s;
  fill: #107eff;
  cursor: pointer;

  &:hover {
    background: $color11;
    fill: #fff;
  }

  &:active {
    background: $color12;
    fill: #fff;
  }

  &:disabled {
    background: $color6;
    fill: #fff;
    opacity: 0.3;
  }
}

.bin-icon {
  padding: 9px;
  background: $color6;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  transition: all .3s;
  fill: #107eff;
  cursor: pointer;

  &:hover {
    background: $color11;
    fill: #fff;
  }

  &:active {
    background: $color12;
    fill: #fff;
  }

  &:disabled {
    background: $color6;
    fill: #fff;
    opacity: 0.3;
  }
}

.btn-publish {
  background: $photo;
  border: none;
  padding: 12px 15px 12px 43px;
  color: #fff;
  @extend %roboto-500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  position: relative;
  transition: all .3s;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    background-image: url(../images/check-yes.svg);
  }

  &:hover {
    background: $photo-hover;
  }

  &:active {
    background: $photo-active;
  }

  &:disabled {
    background: $photo-hover;
    opacity: 0.5;
  }
}

.delete-icon {
  width: 14px;
  height: 14px;
}

.task__status {
  &.inwork {
    @extend %roboto-500;
    color: $color8;
  }

  &.done {
    @extend %roboto-500;
    color: $color10;
  }

  &.approval {
    @extend %roboto-500;
    color: $color9;
  }
}

.download {
  padding: 8px 10px;
  color: $color1;
  border: none;
  border-radius: 4px;
  background: $color6;
  @extend %roboto-500;
  font-size: 12px;
}
