@mixin button-color ($normal, $hover, $active) {
  &_normal {
    background: $normal;
    &:hover {
      background: $hover;
    }
  }

  &_disabled {
    background: $normal;
    opacity: 0.5;
  }

  // &_hover {
  //   background: $hover;
  // }

  &_active {
    background: $active;
  }
}

@mixin img ($width, $height, $padding) {
  width: $width;
  height: $height;
  padding-right: $padding;
  vertical-align: middle;
}

.button {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;

  &__text {
    font-weight: 500;
    color: white;
  }
}
.button-new-task {
  width: 145px;
  height: 40px;

  @include button-color($blue, $blue-hover, $blue-active);

  &__img {
    @include img (14px, 14px, 10px);
  }
}
.button-confirm {
  width: 236px;
  height: 40px;

  @include button-color($green, $green-hover, $green-active);

  &__img {
    @include img (18px, 18px, 10px);
  }
}
.button-edit-task {
  width: 40px;
  height: 40px;

  @include button-color($blue, $blue-hover, $blue-active);

  &__img {
    stroke: white;
    @include img (20px, 18px, 0);
  }
}

.button-edit-list-task {
  width: 34px;
  height: 34px;

  @include button-color($ltblue, $blue-hover, $blue-active);

  &__img {
    @include img (20px, 18px, 0);

    &_normal{
      stroke: $blue;
      &:hover{
        stroke: white;
      }
    }

    &_disabled {
      stroke: $blue;
    }

    &_active {
      stroke: white;
    }
    // &_hover, &_active {
    //   stroke: white;
    // }
  }
}

.button-back {
  width: 157px;
  height: 34px;

  @include button-color(none, $ltblue, #C2DFFF);

  &__img {
    stroke: $blue;
    @include img (23px, 9px, 10px);
  }

  &__text {
    color: $blue;
  }
}

.button-delete {
  width: 103px;
  height: 34px;
  @include button-color(none, #FFF0EC, #FFD9CF);

  &__img {
    @include img (13px, 16px, 10px);
  }

  &__text {
    color: $red;
  }
}

.button-cross {
  background: none;

  &__img {
    @include img (10px, 10px, 0);

    &_normal {
      fill: $gray-blue-icon;
      &:hover {
        fill: $blue;
      }
    }

    // &_hover {
    //   fill: $blue;
    // }
  }
}

.media-button {
  background: none;
  border:none;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;

  &_normal {
    .media-button__img_normal {
      display: inline-block;
    }
    .media-button__img_active {
      display: none;
    }
    &:hover {
      opacity: 0.8;

      .media-button__img_normal {
        display: inline-block;
      }
      .media-button__img_active {
        display: none;
      }
    }
  }

  // &_hover {
  //   opacity: 0.8;

  //   .media-button__img_normal {
  //     display: inline-block;
  //   }
  //   .media-button__img_active {
  //     display: none;
  //   }
  // }

  &_active {
    .media-button__img_normal {
      display: none;
    }
    .media-button__img_active {
      display: inline-block;
    }
  }
}

.media-button-back {
	&__img {
    width: 25px;
    height: 11px;
    stroke: white;
	}
}

.media-button-play {
  width: 9px;
  height: 12px;
	&__img {
    fill: white;

		&_normal {
      width: 9px;
      height: 12px;
		}

		&_active {
      width: 7px;
      height: 12px;
		}
	}
}

.media-button-volume {
	&__img {
    fill: white;
    width: 19px;
    height: 15px;
	}
}

.media-button-screen {
	&__img {
    fill: white;
    width: 16px;
    height: 16px;
	}
}


.button-filter {
  width: 84px;
  height: 40px;

  // &__text {
  //   font-size: 14px;
  // }

  &-video {
    @include button-color(white, rgba(16, 126, 255, 0.1), $blue);
    
    &__img {
      @include img (7px, 9px, 6px);
      fill: $blue;
      position: relative;
      bottom: 1px;
    }
  
    &__text {
      color: $blue;
    }
  
    &_normal {
      border: 1px solid $blue;
    }
  
    // &_hover {
    //   border: 1px solid $blue;
    // }
  
    &_active {
      border: none;
  
      .button-filter-video__img {
        fill: white;
      }
      .button-filter-video__text {
        color: white;
      }
    }
  }

  &-photo {
    @include button-color(white, rgba(67, 221, 156, 0.1), $green);
    
    &__img {
      @include img (11px, 9px, 6px);
      fill: $green;
      position: relative;
      bottom: 1px;
    }
  
    &__text {
      color: $green;
    }
  
    &_normal {
      border: 1px solid $green;
    }
  
    // &_hover {
    //   border: 1px solid $green;
    // }
  
    &_active {
      border: none;
  
      .button-filter-photo__img {
        fill: white;
      }
      .button-filter-photo__text {
        color: white;
      }
    }
  }

  &-audio {
    @include button-color(white, rgba(255, 172, 47, 0.1), $yellow);
    
    &__img {
      @include img (8px, 10px, 6px);
      fill: $yellow;
      position: relative;
      bottom: 1px;
    }
  
    &__text {
      color: $yellow;
    }
  
    &_normal {
      border: 1px solid $yellow;
    }
  
    // &_hover {
    //   border: 1px solid $yellow;
    // }
  
    &_active {
      border: none;
  
      .button-filter-audio__img {
        fill: white;
      }
      .button-filter-audio__text {
        color: white;
      }
    }
  }
}
