.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 36px;
    height: 36px;
    animation: loader 1.5s infinite linear;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}
