@font-face {
  font-family: 'Rubik-Regular';
  font-style: 'normal';
  font-weight: 400;
  src: url(../fonts/Rubik-Regular.woff) format('woff'),
    url(../fonts/Rubik-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Rubik-Medium';
  font-style: 'normal';
  font-weight: 500;
  src: url(../fonts/Rubik-Medium.woff) format('woff'),
    url(../fonts/Rubik-Medium.woff2) format('woff2');
}
