.header {
  background: white;
  border-bottom: 1px solid $border;

  &__container {
    max-width: 1250px;
    height: 80px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__left-colm, &__right-colm {
    display: flex;
    align-items: center;
    height: 100%;

  }
  &__logo-link {
    margin-right: 30px;
  }
}

.menu {
  display: flex;
  list-style-type: none;

  &__item {
    padding: 9px 12px;
    border-radius: 4px;


    &_normal {
      background: none;
      color: black;

      &:hover {
        background: none;
        color: $blue;
      }
    }

    // &_hover {
    //   background: none;
    //   color: $blue;
    // }

    &_active {
      background: $ltblue;
      color: $blue;
    }
  }

  &__link {
    font-weight: 500;
  }
}

.notification {
  width: 40px;
  height: 40px;
  position: relative;


  &_normal {
    background: none;
    border: 1px solid white;
    &:hover {
      background: none;
      border: 1px solid $ltblue;
    }
  }

  // &_hover {
  //   background: none;
  //   border: 1px solid $ltblue;
  // }

  &_active {
    background: $ltblue;
  }

	&__bell-icon {
    width: 20px;
    height: 24px;
	}

	&__new-area {
    position: absolute;
    top: 2px;
    left: 20px;
    width: 17px;
    height: 17px;
    border: 2px solid white;
    background: $red;
    border-radius: 50%;
    display: flex;
	}

	&__new-message {
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin: auto;
	}

  &__no-message {
    display: none;
  }
}

.user {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 30px;

  &__name {
    color: $txt;
    padding-right: 20px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;

    &_normal {
      .user__container-img{
        border: 1px solid white;
      }

      & + .user-menu {
        display: none;
      }
      &:hover {
        .user__container-img{
          border: 1px solid $blue;
        }
  
        & + .user-menu {
          display: none;
        }

      }
    }

    // &_hover {
    //   .user__container-img{
    //     border: 1px solid $blue;
    //   }

    //   & + .user-menu {
    //     display: none;
    //   }
    // }

    &_active {
      .user__container-img{
        border: 1px solid $blue;
      }

      & + .user-menu {
        display: inline-block;
      }
    }
  }

  &__container-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;

  }
  &__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__open-menu {
    width: 7px;
    height: 5px;
    fill: $blue;
    padding-left: 8px;
  }
}

.user-menu {
  position: absolute;
  margin: 20px;
  top: 29px;
  right: -5px;
  z-index: 10;

  &__list {
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 4px; 
    border: 1px solid #D8E3EC;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background: white;


    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;
  }

  &__item {
    text-align: end;
    box-sizing: border-box;
    &:hover {
      background: $ltblue;
    }

    // &_hover{
    //   background: $ltblue;
    // }
  }

  &__link {
    padding: 13px 14px 11px;
    box-sizing: border-box;
    width: 88px;
    height: 40px;
    border-bottom: 1px solid #D8E3EC;
    display: inline-block;
  }
}