.main {
  background: $background;
}
.container {
  max-width: 1250px;
  min-height: 10px;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;

}

//поиск
.search {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  grid-column-gap: 21px;


  &__title {
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 9px;
  }

  &__box {
    position: relative;


  }
  &__box-text {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D8E3EC;
    box-sizing: border-box;
    padding: 12px 30px 12px 15px;
    border-radius: 4px; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__box-btn {
    width: 12px;
    height: 13px;
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &__box-calendar {
    width: 15px;
    height: 14px;
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

//Карточки
.content {
  margin-top: 30px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 21px;
    grid-row-gap: 30px;

    @media (max-width: 762px) {
      grid-template-columns: 1fr;
    }
    
  }
  &__item {
    list-style-type: none;
  }
}


.card {
  width: 100%;

  &_normal {
    .card__container-img {
      filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.15));
    }

    &:hover {
      .card__container-img {
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.4));
      }
    }
  }

  // &_hover {
  //   .card__container-img {
  //     filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.4));
  //   }
  // }

  &__link {
    cursor: pointer;
  }

  &__container-img {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding-top: 63.6%;

  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  &__container-description {
    margin-top: 15px;
  }

  &__type {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &_video {
      .card__type-img {
        width: 7px;
        height: 9px;
        fill: $blue;
      }

      .card__type-txt, .card__type-time {
        color: $blue;
      }
    }

    &_audio {
      .card__type-img {
        width: 8px;
        height: 10px;
        fill: $yellow;
      }

      .card__type-txt, .card__type-time {
        color: $yellow;
      }
    }

    &_photo {
      .card__type-img {
        width: 11px;
        height: 9px;
        fill: $green;
      }

      .card__type-txt, .card__type-time {
        color: $green;
      }
    }
  }

  &__type-img {
    padding-right: 5px;
  }

  &__type-txt {
    font-weight: 500;
  }

  &__type-time {
    opacity: 0.6;
    padding-left: 5px;
  }

  &__title {
    margin: 10px 0 6px;
    font-weight: 400;
    color: $txt;
  }

  &__author-info {
    display: flex;
    align-items: center;
  }

  &__author-name {
    font-size: 12px;
    opacity: 0.6;
    color: $txt;

  }
  &__delimiter {
    width: 3px;
    height: 3px;
    background: #70B2FF;
    border-radius: 50%;
    margin: 0 6px;
    display: inline-block;
  }
  &__date {
    font-size: 12px;
    opacity: 0.6;
    color: $txt;
  }
}