@import 'vars';
@import 'vendor';
@import 'fonts';
@import 'reset';
@import 'ui-kit';
// @import 'mixins';


.container {
    width: 100%;
    max-width: 87rem;
    margin: 0 auto;
    padding: 0 1.07rem;
}


.header-block {
    display: flex;
    align-items: center;
    height: 5.7rem;
}

.header {
    border-bottom: 1px solid #c8d8ed;
    // margin-bottom: 40px;

    &__logo-img {
        margin-right: 2.14rem;
    }

    &__menu {
        margin-right: 41.42rem;
    }

    &__menu-list {
        display: flex;
    }

    li:not(:last-child) {
        margin-right: 2.85rem;
    }

    .active {
        color: $blue;
        background-color: $brightblue;
        padding: 0.64rem 0.85rem;
    }

    &__menu-list_link {
        transition: all .4s;
    }

    &__menu-list_link:hover {
        color: $blue;
    }


    &__notif-link {
        position: relative;
        margin-right: 2.14rem;
        width: 1.78rem;
        height: 1.78rem;
        display: flex;
        justify-content: center;
        // align-items: center;
        border-radius: 0.28rem;
        margin-right: 1.42rem;
        transition: all .3s;
    }

    &__notif-link_active {
        background-color: $brightblue;
    }

    &__notif-count {
        position: absolute;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.14rem;
        width: 20px;
        height: 20px;
        top: -8px;
        right: -8px;
        color: #fff;
        background-color: $red;
        text-align: center;
        border-radius: 100%;
        border: 2px solid #fff;
    }

    &__notif-link:hover {
        border: 1px solid $brightblue;
    }

    &__user-block {
        margin-right: 1.42rem;
        min-width: 7.14rem;
    }

    &__user-photo {
        // position: relative;
        cursor: pointer;
        display: flex;
        transition: all .3s;


        &::after {
            content: "";
            width: 0.42rem;
            height: 0.28rem;
            margin-left: 0.71rem;
            margin-top: 1.07rem;
            cursor: pointer;
            background-image: url("../img/arrow-down.svg");
        }
    }

    &__user-img:hover {
        width: 2.85rem;
        height: 2.85rem;
        border-radius: 100%;
        border: 2px solid $blue;
    }

    &__user-profile {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 6.42rem;
        height: 5.85rem;
        top: 6.42rem;
        right: 15.71rem;
        box-shadow: 0px 0.28rem 1.07rem rgba(0, 0, 0, 0.15);
        opacity: 0;
    }
    .photo-active {
        opacity: 1;
    }

    &__user-log {
        padding: 0.90rem 1rem;
        border: 1px solid $blue-outline;
        transition: all .3s;
        cursor: default;
    } 
    &__user-log:hover {
        background-color: $brightblue;
    }

    &__user-goout {
        padding: 0.85rem 1rem 0.64rem 2.21rem;
        border: 1px solid $blue-outline;
        transition: all .3s;
        cursor: default;
    }
    &__user-goout:hover {
        background-color: $brightblue;
    }

}



.main {
    padding-bottom: 7.14rem;
    background-color: #F3F8FB;;
}


.info {
    padding-top: 5.71rem;
    margin-bottom: 1.78rem;

    &__search {
        display: flex;
        flex-wrap: wrap;
    }

    &__search-block {
        position: relative;
        margin-right: 1.42rem;
        margin-bottom: 1.42rem;
    }

    &__search-title {
        font-weight: 500;
        font-size: 0.85rem;
        line-height: 1rem;
        color: $night;
        margin-bottom: 10px;
    }


    .search-info {
        position: relative;
        padding: 0.85rem 6.42rem 0.85rem 1.07rem;
        width: 28.07rem;
        border-radius: 4px;
        border: 1px solid $blue-outline;
        outline: none;
    }

    .search-info:hover {
        border: 1px solid $grayblue;
    }

    &__search-search {
        position: absolute;
        bottom: 0.90rem;
        right: 1.42rem;
    }



    &__data-block {
        position: relative;
        margin-right: 1.42rem;


        .auto-jsCalendar {
            position: absolute;
            display: inline-block;
            right: 0;
            top: 5rem;
            opacity: 0;
        }
        .date-publication__input--active {
            border: 1px solid $blue;
        }
        
        .auto-jsCalendar td:hover {
            color: $blue;
            background-color: #fff;
        }
        .jsCalendar tbody td.jsCalendar-current {
            background-color: $brightblue;
            border-radius: inherit;
            color: #000;
        }
        .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
            width: 2.85rem;
            height: 2.14rem;
            align-items: center;
            // display: flex;
        }
        .jsCalendar thead .jsCalendar-nav-left, 
        .jsCalendar thead .jsCalendar-nav-right {
            color: $blue;
        }
        .calendar-view {
            opacity: 1;
        }
    }

    &__search-calendar {
        position: absolute;
        top: 2.85rem;
        right: 1.42rem;
        cursor: pointer;
    }

    &__content-block {
        display: flex;
    }

    &__content-btn {
        position: relative;
        transition: all .4s;
    }

    .btn-content {
        outline: none;
        cursor: pointer;
        border-radius: 0.28rem;
        background-color: #fff;
    }

    &__btn-video {
        color: $blue;
        padding: 0.85rem 1.07rem 0.85rem 1.92rem;
        border: 1px solid $blue;
        margin-right: 0.71rem;

        &:hover {
            background-color: rgba(16, 126, 255, 0.1);;
        }
    }

    &__img-video {
        position: absolute;
        top: 1.14rem;
        left: 1.07rem;
        margin-right: 10px;
    }

    &__btn-photo {
        color: $green;
        padding: 0.85rem 1.07rem 0.85rem 2.21rem;
        border: 1px solid $green;
        margin-right: 10px;

        &:hover {
            background-color: rgba(67, 221, 156, 0.1);
        }
    }

    &__btn-audio {
        color: $yellow;
        padding: 0.85rem 1.07rem 0.85rem 1.92rem;
        border: 1px solid $yellow;

        &:hover {
            background-color: rgba(255, 172, 47, 0.1);
        }
    }
}


.card {
    margin-bottom: 4.28rem;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        // width: calc((100% - 40px ) / 3);
        max-width: 27.14rem;
        margin: 0 0 1.42rem;

    }

    &__column:nth-child(3n-1) {
        margin-right: 1.42rem;
        margin-left: 1.42rem;
    }

    &__column-img {
        // flex: 0 1 393px;
        transition: all .3s;
        margin-bottom: 0.71rem;
    }

    &__column-img:hover {
        box-shadow: 0px 0.57rem 1.42rem rgba(0, 0, 0, 0.4);
        border-radius: 0.42rem;
    }

    &__column-content {
        margin-left: 1.07rem;
    }

    &__column-video {
        display: inline-block;
    }


    &__column-video {
        color: $blue;
        margin-right: 0.30rem;
    }

    &__column-photo {
        display: inline-block;
        color: $green;
    }

    &__column-audio {
        display: inline-block;
        color: $yellow;
        margin-right: 5px;
    }


    &__column-duration_video {
        color: $blue;
        opacity: 0.6;
    }

    &__column-duration_audio {
        color: $yellow;
        opacity: 0.6;
    }

    &__column-text {
        margin-top: 10px;
        margin-bottom: 6px;
    }

    &__column-author {
        position: relative;
        opacity: 0.6;
        margin-right: 1.07rem;

        &::after {
            content: "";
            position: absolute;
            width: 0.28rem;
            height: 0.28rem;
            top: 0.5rem;
            right: -0.85rem;
            border-radius: 100%;
            background-color: $blue;
        }
    }

    &__column-data {
        opacity: 0.6;
    }
}


.loader {
    display: block;
    margin-top: 250px;
    width: 3.57rem;
    height: 3.57rem;
    margin: 0 auto;
    border: 5px solid rgba(25, 113, 247, 0.6);
    border-radius: 50%;
    border-left-color: $blue;
    animation: loader 1.3s linear infinite;
 }

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}
// @keyframes spin {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(360deg); }
// }

