@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'dycalendar';
// @import 'media.scss'; поставить в конец

.header{
  background: fff;
  border-bottom: 1px solid #c8d8ed;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &-btn__img{
    margin-right: 30px;
  }

  &-btn__block {
    display: flex;
    align-items: center;

    .menu__btn {
      @extend %roboto-500;
      padding: 9px 12px;
      margin-right: 16px;
      border-radius: 4px;
      color: $color-text;
      transition: all .3s;
      border: none;
      background-color: #fff;
    }

    .menu__btn:hover {
      color: $color1;
    }

    .menu__btn:focus {
      margin-right: 16px;
      background: $color6;
      border-radius: 4px;
      color: $color1;
    }
  }

  &-user__block {
    display: flex;
    align-items: center;
  }

  &-user__link {
    position: relative;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    transition: all .3s;
  }

  &-user__link:hover {
    border: 1px solid $color6;
  }

  &-user__link.active {
    border: 1px solid $color6;
    background-color: $color6;
  }

  &-user__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $color7;
    color: #fff;
    border: 2px solid #fff;
    @extend %roboto-500;
    font-size: 10px;
    line-height: 14px;
    top: 2px;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-user__title {
    margin-right: 20px;
  }

  &-user__img {
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .3s;
    margin-right: 15px;
  }

  &-user__img:hover {
    border: 1px solid #107eff;
  }

  &-user__img.active {
    border: 1px solid #107eff;
  }

  &-user__profile-box::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 4px;
    right: 0;
    bottom: 15px;
    background-image: url(../images/arrow_down-icon.svg);
  }

  &-user__profile-box {
    position: relative;
  }

  &-user__profile {
    position: absolute;
    right: 15px;
    bottom: -104px;
    border: 1px solid $color4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $color-text;
    display: none;

    &.active {
      display: block;
    }
  }

  &-user__profile a {
    display: block;
  }

  &-user__prof {
    padding: 12px 14px;
    border-bottom: 1px solid $color4;
    color: $color-text;
    transition: all .3s;
  }

  &-user__prof:hover {
    background-color: $color6;
  }

  &-user__out {
    padding: 12px 14px;
    text-align: end;
    color: $color-text;
  }

  &-user__out:hover {
    background-color: $color6;
  }
}

main {
  background-color: $color-bg;
}

.data {
  margin-top: 38px;
  margin-bottom: 30px;
}

.data__search {
  display: flex;

  &-block {
    margin-right: 20px;
    position: relative;

    a {
      display: inline-block;
      margin-right: 10px;
    }

    .data__search-wraper{
      max-width: 393px;
      max-width: 100%;
      background-image: url(../images/cancel-icon.svg);
      background-repeat: no-repeat;
      background-position: center right 13px;
      transition: all .3s;
      background-color: #fff;
    }
  }

  .search-status {
    @extend %roboto-400;
    width: 187px;
    padding: 12px 35px 12px 15px;
    border: 1px solid $color4;
    border-radius: 4px;
    transition: all .3s;
    color: $color-text;
    background-color: #fff;
    background-image: url(../images/arrow_down-icon.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    outline: none;
    appearance: none;
    opacity: 0.6;
  }

  &-title {
    @extend %roboto-500;
    font-size: 12px;
    margin-bottom: 9px;
  }

  .search-input {
    @extend %search-input;

    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      opacity: 0.6;
    }

    &:hover {
      border: 1px solid $color5;
    }

    &:focus {
      border: 1px solid $color1;
      padding-left: 35px;
      background-repeat: no-repeat;
      background-position: center left 13px;
      background-color: transparent;
    }
  }

  &-name {
    width: 393px;

    &.search-input {
      background-image: url(../images/search.svg);
    }
  }

  &-date {
    &.search-input {
      background-image: url(../images/calendar-icon.svg);
      position: relative;
    }
  }

  .btn__type-content{
    @extend %bt-content;
    border-radius: 4px;
    padding: 12px;
    transition: all .3s;
    background-color: #fff;

    &:nth-child(3){
      margin-left: 10px;
      margin-right: 10px;
    }

    &.active {
      color: #fff;

      .video-icon,
      .audio-icon,
      .photo-icon {
        fill: #fff;
      }
    }
  }

  &-video {
    border: 1px solid $color1;
    color: $color1;

    &:hover {
      background-color: rgba(16, 126, 255, 0.1);
    }

    &.active {
      background-color: $color1;
    }
  }

  &-photo {
    border: 1px solid $photo;
    color: $photo;

    &:hover {
      background: rgba(67, 221, 156, 0.1);
    }

    &.active {
      background-color: $photo;
    }
  }

  &-audio {
    border: 1px solid $audio;
    color: $audio;

    &:hover {
      background: rgba(255, 172, 47, 0.1);
    }

    &.active {
      background-color: $audio;
    }
  }
}

.content {
  margin-bottom: 155px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  &__card {
    max-width: 393px
  }

  &__card-img {
    margin-bottom: 15px;
    border-radius: 6px;
    transition: all .3s;

    &:hover {
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    }
  }

  &__card-video {
    color: $color1;
    @extend %roboto-500;
    width: 60px;

    span {
      opacity: 0.6;
    }
  }

  &__card-photo {
    color: $photo;
    width: 60px;
  }

  &__card-audio{
    color: $audio;
    width: 60px;

    span {
      opacity: 0.6;
    }
  }

  &__card-title {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  &__card-author {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.6;
    margin-bottom: 10px;

    span {
      margin-left: 14px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-image: url(../images/dots.svg);
        width: 3px;
        height: 3px;
        top: 5px;
        left: -10px;
      }
    }
  }
}

.tasks {
  &__btn {
    margin-left: auto;
  }

  .new__task-btn {
    background-color: $color1;
    border: none;
    padding: 12px 15px 12px 15px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    margin-bottom: 20px;

    .plas-icon {
      margin-right: 10px;
    }
  }

  &__items {
    background-color: #fff;
    border: 1px solid $color4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    min-height: 70px;
    padding: 0 20px;
    display: flex;
    transition: all .3s;
    margin-bottom: 15px;

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .task__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-link {
      display: flex;
      max-width: 560px;
      width: 100%;
    }

    .task__title {
      margin-left: 20px;
    }
  }

  .task__autor-data {
    display: flex;
    width: 510px;
  }

  .task__autor {
    margin-right: 30px;
    width: 140px;
    max-width: 100%;
  }

  .task__date {
    margin-right: 40px;
    display: flex;
    align-items: center;

    .calendar-icon-gray {
      margin-right: 10px;
    }
  }

  .task__status {
    &.inwork {
      @extend %roboto-500;
      color: $color8;
    }

    &.done {
      @extend %roboto-500;
      color: $color10;
    }

    &.approval {
      @extend %roboto-500;
      color: $color9;
    }
  }

  .task__icon {
    display: flex;
    align-items: center;

    .edit-icon {
      margin-right: 15px;
    }
  }

}
