$blue: #107EFF;
$background: #F3F8FB;
$green_photo: #43DD9C;
$yellow_audio: #FFAC2F;
$txt: #313131;
$blue_outline: #D8E3EC;
$grey-blue-icon: #96AECD;
$ltblue: #E8F3FF;
$black: #000000;
$red: #FF603E;
$white: #FFFFFF;