@import '../buttons/buttons.scss';
@import '../../styles/style.scss';

.nav {
  margin-left: 2.1em;

  &__list {
    display: flex;
    justify-content: start;
    list-style: none;

    .nav__btn {
      background: transparent;
      padding: 0.64em 0.85em;
      border: none;
  
      .button__text {
        color: $black;
      }
  
      &:hover {
        .button__text {
          color: $blue;
        }
      }
  
      .active,
      &:active {
        background: $ltblue;
  
        .button__text {
          color: $blue;
        }
      }
    }
  
    .nav__btn.active {
      background: $ltblue;
  
      .button__text {
        color: $blue;
      }
    }
  }
}
